<main id="main" class="main" *ngFor="let c of cursosGet">
  <div class="pagetitle">
     <h1 >{{c.nombre_curso}}</h1>
     <nav>
      <ol class="breadcrumb">
         <li class="breadcrumb-item"><a routerLink="/teacher/dashboard">Dashboard</a></li>
         <li class="breadcrumb-item active">{{c.nombre_grado}} "{{c.seccion}}"</li>
      </ol>
      </nav>
  </div>
  <section class="section dashboard">
     <div class="row">
        <div class="col-lg-8">
          <app-cursos-card-resumen></app-cursos-card-resumen>
          <app-opciones-curso></app-opciones-curso>
          <app-calendario-curso></app-calendario-curso>
        </div>
        <div class="col-lg-4">
          <!--- Aquí va lo de la segunda columna -->
          <div class="row">
            <app-alumnos-curso></app-alumnos-curso>
          </div>
        </div>
     </div>
  </section>
</main>
