<main id="main" class="main" *ngFor="let c of cursosGet" [style]="{'background-color': cfondo1}">
  <div class="row">
    <div class="pagetitle col-md-9">
      <h1 [style]="{'color': ctexto1}">
        <img [src]="c.ruta_imagen" alt="profileImage" height="75" width="75">
        {{c.nombre_curso}}</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a routerLink="/teacher/dashboard">Dashboard</a></li>
          <li class="breadcrumb-item">{{c.nombre_grado}} "{{c.seccion}}"</li>
        </ol>
        </nav>
    </div>
    <div class="pagetitle text-end mt-3 mb-3 col-md-3">
      <a class="btn btn-secondary" data-bs-toggle="modal" href="#configCurso" role="button"><i class="fa-solid fa-gear"></i></a>
    </div>
    <!--Modal Configuraciones Curso-->
    <div class="modal fade" id="configCurso" tabindex="-1">
      <div class="modal-dialog modal-dialog-centered">
         <div class="modal-content">
            <div class="modal-header">
               <h5 class="modal-title">Configuración del Curso</h5>
               <button type="button" #cerrarEditarModal class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <form class="row g-3" [formGroup]="cursoForm" (ngSubmit)="updateCurso(idClase)" autocomplete="off">
                <div class="modal-body">

                  <div class="mb-3">
                    <label for="exampleColorInput" class="form-label">Color de curso</label>
                    <input formControlName="color_curso" type="color" class="form-control form-control-color" value="{{cursosGet.color_curso}}" title="Seleccione el Color">
                  </div>
                  <hr>
                  <div class="mb-3">
                    <label for="exampleColorInput" class="form-label">Imagen del curso</label><br>
                    <button class="btn btn-primary me-1" data-bs-toggle="modal" data-bs-target="#staticBackdrop">Editar</button>
                    <button type="button" class="btn btn-primary me-1" data-bs-toggle="modal" data-bs-target="#importImg"><i class="fa-solid fa-file-arrow-up"></i></button>
                  </div>

                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                  <button type="submit" class="btn btn-primary">Editar</button>

                </div>
              </form>
            </div>
         </div>
      </div>
   </div>
  </div>
  <section class="section dashboard">
     <div class="row">
        <div class="col-lg-8">
          <app-cursos-card-resumen></app-cursos-card-resumen>
          <app-opciones-curso [cfondo2]="cfondo2" [ctexto1]="ctexto1"></app-opciones-curso>

        </div>
        <div class="col-lg-4">
          <!--- Aquí va lo de la segunda columna -->
          <div class="row">
            <app-alumnos-curso></app-alumnos-curso>
             <app-calendario-curso></app-calendario-curso>
          </div>
        </div>
     </div>
  </section>

    <!-- Modal Cambiar Imagen del curso -->
    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-scrollable modal-xl">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="staticBackdropLabel">Imagen del curso</h1>
            <button type="button" #cerrarEditarModalPerfil class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <div class="text-center">
              <div *ngIf="imagenPerfilActual!='';else imagenDefecto" class="text-center contenedor-centrado">
                <div class="img-preview" [style.background-image]="'url(' + imagenPerfilActual + ')'" alt="Vista previa de la imagen"></div>
              </div>
              <ng-template #imagenDefecto>
                <div class="text-center contenedor-centrado">
                  <div class="img-preview" [style.background-image]="'url(' + cursosGet[0]?.ruta_imagen + ')'" alt="Vista previa de la imagen"></div>
                </div>
              </ng-template>
            </div>
            <hr>
            <select class="form-select" (change)="selectValue($event)">
              <option selected>Categoría...</option>
              <option *ngFor="let imgC of categoriaImagen" value="{{imgC.idCategoriaImagenPerfil}}">{{imgC.categoria}}</option>
            </select>
            <br>
            <div *ngIf="idCategoriaImagen!='1';">
              <div class="row">
                <div class="col-md-2" *ngFor="let i of listaImagenes">
                  <img [src]="i.ruta" class="hover-imagen" (click)="valueGetImagen(i.ruta)">
                </div>
              </div>
          </div>
          <div *ngIf="idCategoriaImagen=='1';">
            <div class="row">
              <div class="col-md-2" *ngFor="let su of imagenSubidaUsuario">
                <img [src]="su.ruta_imagen" class="hover-imagen" (click)="valueGetImagen(su.ruta_imagen)">
              </div>
            </div>
          </div>
          <div *ngIf="idCategoriaImagen=='';">
            <div class="alert alert-warning" role="alert">
              Sin Categoría seleccionada...
            </div>
          </div>

          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
            <button type="button" class="btn btn-primary" (click)="actualizarImagenPerfilSeleccionada()">Guardar</button>
          </div>
        </div>
      </div>
    </div>

    <!-- Modal subir imagen-->
    <div class="modal fade" id="importImg" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="staticBackdropLabel">Subir imagen de perfil</h1>
            <button type="button"  #cerrarEditarModal class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <form #uploadForm enctype="multipart/form-data" (ngSubmit)="onSubmit(uploadForm)" autocomplete="off">
            <div class="modal-body">
                <label for="subirImagen" class="form-label">Suba su imagen</label>
                <input #fileInput class="form-control" type="file" name="file" id="subirImagen" (change)="mostrarVistaPrevia($event)">
                <div class="progress mb-3" *ngIf="uploadProgress !== undefined">
                  <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" [ngClass]="{'bg-primary': uploadProgress < 100, 'bg-success': uploadProgress === 100}" [style.width]="uploadProgress + '%'">{{ uploadProgress }}%</div>
                </div>

                <div class="text-center contenedor-centrado">
                  <div><br>
                  <div *ngIf="vistaPrevia" class="img-preview" [style.background-image]="'url(' + vistaPrevia + ')'" alt="Vista previa de la imagen"></div>
                </div>
            </div>
            </div>

          <div class="modal-footer" *ngIf="uploadProgress==100&&uploadProgress!=undefined; else botonAceptar">
            <button type="button" class="btn btn-success" data-bs-dismiss="modal" (click)="reiniciarModal()">Aceptar</button>
          </div>
          <ng-template class="modal-footer" #botonAceptar>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
              <button type="submit" class="btn btn-primary">Guardar</button>
            </div>
          </ng-template>
        </form>
        </div>
      </div>
    </div>

</main>
