<main id="main" class="main">
  <div class="pagetitle">
     <h1>Matemática</h1>
     <nav>
      <ol class="breadcrumb">
         <li class="breadcrumb-item"><a routerLink="/dashboard">Home</a></li>
         <li class="breadcrumb-item active">Matemática</li>
      </ol>
   </nav>
  </div>
  <section class="section dashboard">
     <div class="row">
        <div class="col-lg-8">
          <app-cursos-card-resumen></app-cursos-card-resumen>
          <app-opciones-curso></app-opciones-curso>
        </div>
        <div class="col-lg-4">
          <!--- Aquí va lo de la segunda columna -->
          <div class="row">
            <app-calendario-curso></app-calendario-curso>
            <app-alumnos-curso></app-alumnos-curso>
          </div>
        </div>
     </div>
  </section>
</main>
