<main id="main" class="main">
  <div class="pagetitle" *ngFor="let p of profesorGet">
     <h1>Profesor {{p.nombre_profesor}} {{p.apellido_profesor}}</h1>
     <nav>
        <ol class="breadcrumb">
           <li class="breadcrumb-item"><a routerLink="/">Dashboard</a></li>
        </ol>
     </nav>
  </div>
  <section class="section dashboard">
     <div class="row">
        <div class="col-lg-8">
          <app-card-resumen></app-card-resumen>
          <app-card-clases-jornadas></app-card-clases-jornadas>
          <app-horario-profesor></app-horario-profesor>
        </div>
        <div class="col-lg-4">
          <!--- Aquí va lo de la segunda columna -->
          <div class="row">

            <app-all-calendario-profesores></app-all-calendario-profesores>
            <app-actividades-calificar-profesores></app-actividades-calificar-profesores>
            <app-guia-plani-profesores></app-guia-plani-profesores>

          </div>
        </div>
     </div>
  </section>
</main>
