<li class="nav-item dropdown pe-3">
  <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown"> <img src="/assets/img/perfiles/espacio/alien1.svg" alt="Profile" class="rounded-circle"> <span class="d-none d-md-block dropdown-toggle ps-2">{{Nombre_profesor}}</span> </a>
  <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
     <li class="dropdown-header">
        <h6>{{Nombre_profesor+' '+Apellido_profesor}}</h6>
        <span>{{Usuario+' | '+Rol}}</span>
     </li>
     <li>
        <hr class="dropdown-divider">
     </li>
     <li> <a class="dropdown-item d-flex align-items-center" routerLink="perfil"> <i class="fa-solid fa-user"></i> <span>Mi Perfil</span> </a></li>
     <li>
        <hr class="dropdown-divider">
     </li>
     <li>
        <hr class="dropdown-divider">
     </li>
     <li> <a class="dropdown-item d-flex align-items-center" routerLink="/"> <i class="fa-sharp fa-solid fa-right-from-bracket"></i> <span>Salir</span> </a></li>
  </ul>
</li>
