<main id="main" class="main">
  <div class="pagetitle">
    <h1>Configuraciones Básicas</h1>
    <nav>
       <ol class="breadcrumb">
          <li class="breadcrumb-item"><a routerLink="/admin/dashboard">Home</a></li>
          <li class="breadcrumb-item">Configuraciones</li>
          <li class="breadcrumb-item active">Configuraciones Básicas</li>
       </ol>
    </nav>
  </div>
  <section class="section">

  </section>
  <section class="section">
    <div class="row">
      <app-admin-tabla-jornadas-config></app-admin-tabla-jornadas-config>
      <app-tabla-niveles></app-tabla-niveles>
      <app-tabla-secciones></app-tabla-secciones>
    </div>
  </section>
</main>



