.contenedor-centrado {
  display: flex;
  justify-content: center; /* Centrar horizontalmente */
  align-items: center; /* Centrar verticalmente */
}
.imagen-div-perfil {
  width: 170px; /* Ancho del contenedor */
  height: 170px; /* Alto del contenedor */
  border-radius: 50%;
  background-size: cover; /* Ajustar imagen sin distorsionar */
  background-position: center; /* Centrar la imagen */
}
