<li class="nav-item"> <a class="nav-link " style="background-color:#071875; color:white" routerLink="dashboard"> <i class="fa-solid fa-house" style="color: white;"></i> Inicio </a></li>
<li class="nav-item"> <a class="nav-link collapsed" style="background-color:#071875; color:white" routerLink="calificaciones"> <i class="fa-solid fa-graduation-cap" style="color: white;"></i> Calificaciones </a></li>
     <hr style="color: white;">
     <li class="nav-item"> <a class="nav-link collapsed" style="background-color:#071875; color:white" routerLink="/login"> <i class="fa-sharp fa-solid fa-right-from-bracket" style="color: white;"></i> Salir </a></li>


