<li class="nav-item"> <h6 class="card-title"><a [style]="{'background-color': cnavbar2, 'color': ctexto2}" routerLink="dashboard" class="nav-link collapsed"> <i class="fa-solid fa-house"></i> Inicio </a></h6></li>
<li class="nav-item"> <h6 class="card-title"><a [style]="{'background-color': cnavbar2, 'color': ctexto2}" routerLink="calificaciones" class="nav-link collapsed"> <i class="fa-solid fa-graduation-cap"></i> Calificaciones </a></h6></li>
<li class="nav-item"> <h6 class="card-title"> <a [style]="{'background-color': cnavbar2, 'color': ctexto2}"routerLink="pagos" class="nav-link collapsed disabled"><i class="fa-solid fa-credit-card"></i> Pagos </a></h6></li>
<li class="nav-item"> <h6 class="card-title"> <a [style]="{'background-color': cnavbar2, 'color': ctexto2}"routerLink="tutorial" class="nav-link collapsed disabled"><i class="fa-solid fa-shoe-prints"></i> Tutorial </a></h6></li>
     <hr style="color: white;">
     <li class="nav-item"> <h6 class="card-title"><a [style]="{'background-color': cnavbar2, 'color': ctexto2}" routerLink="/login"class="nav-link collapsed"> <i class="fa-sharp fa-solid fa-right-from-bracket"></i> Salir </a></h6></li>


