<li class="nav-item"> <a class="nav-link " routerLink="dashboard"> <i class="fa-solid fa-gauge"></i> <span>Inicio</span> </a></li>
<li class="nav-item"> <a class="nav-link collapsed" routerLink="curso"> <i class="fa-solid fa-book-open-reader"></i> <span>Cursos</span> </a></li>
<li class="nav-item"> <a class="nav-link collapsed" routerLink="planificaciones"> <i class="fa-solid fa-book-open-reader"></i> <span>Planificaciones</span> </a></li>
<li class="nav-item"> <a class="nav-link collapsed" routerLink="grado-guia"> <i class="fa-solid fa-book-open-reader"></i> <span>Calificaciones</span> </a></li>
<li class="nav-item"> <a class="nav-link collapsed" routerLink="grado-guia"> <i class="fa-solid fa-book-open-reader"></i> <span>Calendario</span> </a></li>
     <li class="nav-heading">Pruebas</li>
     <li class="nav-item"> <a class="nav-link collapsed" routerLink="cursos"> <i class="fa-solid fa-book-open-reader"></i> <span>Cursos-Alumno</span> </a></li>
     <li class="nav-item"> <a class="nav-link collapsed" routerLink="foro"> <i class="fa-solid fa-book-open-reader"></i> <span>Foro</span> </a></li>
     <hr>
     <li class="nav-item"> <a class="nav-link collapsed" routerLink="settings/apariencia"> <i class="fa-solid fa-book-open-reader"></i> <span>Salir</span> </a></li>


