<div class="card">
  <div class="card-body">
    <h5 class="card-title">Grado guía<span> | Ir a Alumnos</span></h5>
      <div class="activity">
          <!--Contenido-->
       Ver grado guía (que lo redirija a una nueva página para ver que tan mensos están sus alumnos xd)
      </div>
  </div>
  <div class="card-body">
    <h5 class="card-title">Planificaciones<span> | Cursos</span></h5>
      <div class="activity">
          <!--Contenido-->
       Ver todos los cursos que da y subir sus Planificaciones
      </div>
  </div>
</div>

