<main id="main" class="main">
  <div class="pagetitle" *ngFor="let p of profesorGet">
     <h1>Profesor {{p.nombre_profesor}} {{p.apellido_profesor}}</h1>
     <nav>
        <ol class="breadcrumb">
           <li class="breadcrumb-item"><a routerLink="/">Grado Guía</a></li>
        </ol>
     </nav>
  </div>
  <section class="section dashboard">
    <div class="row">
      <div class="col-12">
        <div class="card">
           <div class="card-body">
            <div class="d-flex">
              <h5 class="card-title">Nombre del grado guía</h5>
            </div>
            <div class="tab-content pt-2" id="myTabjustifiedContent">
              <div class="activity">
                Ver el listado de los alumnos
                Agregar un componente llamado "grafico-grado-guia", para ver cuántos alumnos aprobaron o reprobaron general
            </div>
            </div>
           </div>
        </div>
      </div>
    </div>
  </section>
</main>

