<main id="main" class="main">
  <div class="pagetitle">
    <h1>Profesor {{Nombre_profesor}} {{Apellido_profesor}}</h1>
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a routerLink="/teacher/grado-guia">Grado Guía</a></li>
      </ol>
    </nav>
  </div>
  <section class="section dashboard">
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Grado Guia</h5>
              <div class="activity">
                  <!--Contenido-->
                  <div class="row" *ngIf="gradoguiaGet!='';else tablaVacia">
                    <div class="col-xxl-3 col-md-6 mb-3" *ngFor="let gg of gradoguiaGet">
                      <div class="card h-100">
                        <div class="card-body profile-card pt-4 d-flex flex-column align-items-center">
                           <img src="assets/img/profile-img.jpg" alt="Profile" class="card-img-top">
                           <h5 class="card-title text-center">
                            <a routerLink="/teacher/grado-guia/{{gg.idGrado}}">
                              {{gg.nombre_grado}}
                            </a>
                            <hr>
                            <div><span>Sección {{gg.seccion}}</span></div>
                            <div><span>Jornada {{gg.jornada}}</span></div>
                            <div><span>{{gg.nivel}}</span></div>
                            <br>
                            <button type="button" class="btn btn-primary" disabled><i class="fa-solid fa-chart-simple"></i></button>
                           </h5>
                        </div>
                     </div>
                    </div>
                  </div>
                  <ng-template #tablaVacia>
                    <div class="alert alert-warning" role="alert">
                      Sin registros, no tiene ningún curso asignado
                    </div>
                  </ng-template>
              </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
