<main id="main" class="main">
  <div class="pagetitle">
   <div class="row">
      <div class="col-lg-3 col-md-3 col-sm-12 line"><h1>Nombre Clase</h1></div>
      <div class="col-lg-3 col-md-3 col-sm-12 line"><h4 style="color: darkblue;">Tema: La Guerra Mundial y teemo liandri</h4></div>
      <div class="col-lg-3 col-md-3 col-sm-6 line"><h5 style="color: darkblue;">Publicado: </h5></div>
      <div class="col-lg-3 col-md-3 col-sm-6"><h5 style="color: darkblue;">Fecha límite: </h5></div>
   </div>
     <nav>
        <ol class="breadcrumb">
           <li class="breadcrumb-item"><a routerLink="/">Regresar</a></li>
        </ol>
     </nav>
  </div>
  <section class="section">
   <div class="col-lg-12">
      <hr>
      <h5>Descripción:</h5>
      <div class="col-12 description" [innerHTML]="">
         <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quas nesciunt adipisci, illum esse in molestias veritatis obcaecati maxime minima voluptate consequatur fugit est asperiores similique tempore, tenetur beatae pariatur cupiditate?</p>
      </div>
   </div>
   <div class="col-lg-12" *ngIf=""1="0">
      <hr>
      <h5>Archivo:</h5>
      <div class="col-12 description" [innerHTML]="">
         <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quas nesciunt adipisci, illum esse in molestias veritatis obcaecati maxime minima voluptate consequatur fugit est asperiores similique tempore, tenetur beatae pariatur cupiditate?</p>
      </div>
   </div>
   <div class="col-lg-12 pt-3 pb-1">
      <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#modalFormulario">
         <i class="fa-solid fa-pen-to-square"></i>
       </button>
   </div>
  </section>
  <section class="section dashboard">
     <div class="row">
          <div class="col-lg-12 ps-5"> <!-- Respuesta de cada Alumno -->
             <div class="card p-5">
                <div class="row">
                   <div class="col-xxl-2 col-md-3 col-lg-2 col-xl-2 col-sm-4 col-xs-4">
                      <div class="card-body profile-card d-flex flex-column align-items-center">
                         <img src="assets/img/perfiles/sinfoto/blank_profile.png" alt="Profile" class="img-fluid">
                       </div>
                   </div>
                   <div class="col-xxl-10 col-md-9 col-sm-8 col-xs-8">
                      <div class="card-body">
                         <div style="color: darkblue;">Nombre</div>
                           <div class="activity">
                            <div>Comentado el:</div>
                           </div>
                       </div>
                   </div>
                   <h4 class="pt-1" style="color: darkblue;">Titulo</h4>
                   <div class="col-xxl-12 col-md-12">
                      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ratione assumenda reprehenderit deleniti reiciendis nesciunt fugit commodi, animi iure atque doloremque, impedit quae eaque modi aperiam quis. Doloremque accusamus ullam esse!
                      <br><br>
                      Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio vel perferendis ipsa ex cumque voluptatem et quasi natus asperiores libero, facilis consequatur est suscipit, illum corporis, omnis enim id ullam!
                   </div>
                </div>
                <hr class="mt-5">
                <div class="row ps-5">
                   <div class="col-xxl-2 col-md-3 col-lg-2 col-xl-2 col-sm-4 col-xs-4">
                      <div class="card-body profile-card pt-4 d-flex flex-column align-items-center">
                        <img src="assets/img/perfiles/sinfoto/blank_profile.png" alt="Profile" class="img-fluid">
                       </div>
                   </div>
                   <div class="col-xxl-10 col-md-9 col-sm-8 col-xs-8">
                      <div class="card-body">
                         <div class="pt-4" style="color: darkblue;">Nombre <i class="fa-solid fa-caret-right"></i> Nombre</div>
                           <div class="activity">
                            <div>Comentado el:</div>
                           </div>
                       </div>
                   </div>
                   <div class="col-xxl-12 col-md-12">
                      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ratione assumenda reprehenderit deleniti reiciendis nesciunt fugit commodi, animi iure atque doloremque, impedit quae eaque modi aperiam quis. Doloremque accusamus ullam esse!
                      <br><br>
                      Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio vel perferendis ipsa ex cumque voluptatem et quasi natus asperiores libero, facilis consequatur est suscipit, illum corporis, omnis enim id ullam!
                   </div>
                </div>
             </div>
          </div>
     </div>
  </section>
</main>


<!-- Añadir Pregunta Incial -->
<div class="modal" id="modalFormulario" tabindex="-1" role="dialog">
   <div class="modal-dialog" role="document">
     <div class="modal-content">
       <div class="modal-header">
         <h5 class="modal-title">Formulario</h5>
         <button type="button" class="close" data-dismiss="modal" aria-label="Close">
           <span aria-hidden="true">&times;</span>
         </button>
       </div>
       <div class="modal-body">
         <form [formGroup]="PreguntaIncial">
           <div class="form-group">
             <label for="titulo">Título</label>
             <input type="text" class="form-control" id="titulo" formControlName="titulo">
           </div>
           <div class="form-group">
             <label for="descripcion">Descripción</label>
             <textarea class="form-control" id="descripcion" rows="3" formControlName="descripcion"></textarea>
           </div>
           <div class="form-group form-check">
             <input type="checkbox" class="form-check-input" id="enlace" formControlName="enlace">
             <label class="form-check-label" for="enlace">¿Agregar enlace?</label>
           </div>
           <div class="form-group" *ngIf="PreguntaIncial.get('enlace') == null">
             <label for="urlEnlace">URL del enlace</label>
             <input type="text" class="form-control" id="urlEnlace" formControlName="urlEnlace">
           </div>
         </form>
       </div>
       <div class="modal-footer">
         <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
         <button type="button" class="btn btn-primary" (click)="PreguntaInicial()">Guardar</button>
       </div>
     </div>
   </div>
 </div>