.line{
    border-right-width: 2px;
    border-right-style:solid;
    border-right-color: #012970;
}
.description{
    border-color:rgba(212, 209, 209, 0.919);
    border-width: 2px;
    border-style: solid;
    border-radius: 10px;
    padding: 0.5%;
}

@media only screen and (max-width: 767px) {
    .line{
        border-right-width: 0;
        border-right-style:none;
        border-right-color: none;
    }
}