<div class="row">
  <!-- Bimestres Card -->
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Bimestres <span>| Activos/Inactivos</span></h5>
      <div class="activity">
        <div *ngIf="sppinerOn; else Mostrar1">
          <app-loaderpeque></app-loaderpeque>
        </div>
        <ng-template #Mostrar1>
          <div class="row">
            <div class="activity-item d-flex col-md-6" *ngFor="let u of unidades">
              <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" [checked]="u.estado == 1" (change)="toggleEstado($event, u.idUnidad, u.estado)" role="switch">
                <label class="form-check-label" [class.text-success]="u.estado == 1" [class.text-danger]="u.estado != 1"><b>{{ u.unidad }}</b></label>
              </div>
            </div>
          </div>
          <div *ngIf="errorServicio">
            <div class="alert alert-danger text-center" role="alert">{{errorServicio.codigoError}} <b>, Detalles:</b> {{errorServicio.Mensaje}}</div>
          </div>
        </ng-template>
      </div>
    </div>
  </div>

  <!-- Ingresos Card -->
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Ingresos <span>| Usuarios</span></h5>
      <div class="activity">
        <div *ngIf="sppinerOn3; else Mostrar3">
          <app-loaderpeque></app-loaderpeque>
        </div>
        <ng-template #Mostrar3>
          <div class="row">
            <div class="activity-item d-flex col-md-6" *ngFor="let estado of estadosUsuarios">
              <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" [checked]="estado.valor == '1'" (change)="toggleEstadoUsuario($event, estado.tipo)" role="switch">
                <label class="form-check-label" [class.text-success]="estado.valor == '1'" [class.text-danger]="estado.valor != '1'"><b>{{estado.label}}</b></label>
              </div>
            </div>
          </div>
        </ng-template>
      </div>
    </div>
  </div>

  <!-- Notas Card -->
  <div class="card">
    <div class="card-body pb-0">
      <h5 class="card-title">Visualización <span>| de Notas</span></h5>
      <div *ngIf="sppinerOn2; else Mostrar4">
        <app-loaderpeque></app-loaderpeque>
      </div>
      <ng-template #Mostrar4>
        <div class="text-center">
          <div class="activity-item d-flex col-md-6">
            <div class="form-check form-switch">
              <input class="form-check-input" type="checkbox" [checked]="estadoFinalNotas == '1'" (change)="toggleEstadoNotas($event)" role="switch">
              <label class="form-check-label" [class.text-success]="estadoFinalNotas == '1'" [class.text-danger]="estadoFinalNotas != '1'"><b>Estado Notas</b></label>
            </div>
          </div>
        </div>
      </ng-template>
    </div>
  </div>

  <!-- Estadísticas Card -->
  <div class="card">
    <div class="card-body pb-0">
      <h5 class="card-title">Estadísticas <span>| Resumen General</span></h5>
      <div *ngIf="sppinerOn4; else Mostrar2">
        <app-loaderpeque></app-loaderpeque>
      </div>
      <ng-template #Mostrar2>
        <div class="row">
          <!-- General Statistics Content -->
          <div class="col-md-6">
            <div class="text-center"><img src="assets/img/iconos/iconos-dashboard/nino-nina/astronauta-hombre.png"><div><b class="texto-esta-alumnos">Niños: </b>{{totalNinos}}</div></div>
          </div>
          <div class="col-md-6">
            <div class="text-center"><img src="assets/img/iconos/iconos-dashboard/nino-nina/astronauta-mujer.png"><div><b class="texto-esta-alumnos">Niñas: </b>{{totalNinas}}</div></div>
          </div>
          <div class="col-md-6">
            <div class="text-center"><img src="assets/img/iconos/iconos-dashboard/activ-inactivo/codigo-activo.png"><div><b class="texto-esta-alumnos">Codigos en Uso: </b>{{totalNinas}}</div></div>
          </div>
          <div class="col-md-6">
            <div class="text-center"><img src="assets/img/iconos/iconos-dashboard/activ-inactivo/codigo-inactivo.png"><div><b class="texto-esta-alumnos">Codigos sin Uso: </b>{{totalNinas}}</div></div>
          </div>
          <div class="col-md-6">
            <div class="text-center"><img src="assets/img/iconos/iconos-dashboard/pass-change/pass-change.png"><div><b class="texto-esta-alumnos">Contraseña modificada: </b>{{totalNinas}}</div></div>
          </div>
          <div class="col-md-6">
            <div class="text-center"><img src="assets/img/iconos/iconos-dashboard/pass-change/pass-not-change.png"><div><b class="texto-esta-alumnos">Contraseña no modificada: </b>{{totalNinas}}</div></div>
          </div>
        </div>
      </ng-template>
    </div>
  </div>
</div>
