<section class="vh-100" *ngIf="sppinerOn==true;else LoginOriginal">
  <app-loader-general></app-loader-general>
</section>

<ng-template #LoginOriginal>
<body>
  <div id="Contenedor">
    <div class="row">
      <div class="col-lg-6 col-sm-12">
        <img id="img-logo" class="img-fluid" src="assets\img\logo\LBC-Azul.png" alt="">
      </div>
      <div class="col-lg-6 col-sm-12">
        <!-- Registrarse o Iniciar Sesión -->

             <ul class="nav nav-tabs nav-tabs-bordered d-flex" id="borderedTabJustified" role="tablist">
                <li class="nav-item flex-fill" role="presentation">
                  <button class="nav-link w-100 active" id="home-tab" data-bs-toggle="tab" data-bs-target="#bordered-justified-home" type="button" role="tab" aria-controls="home" aria-selected="true">
                    Iniciar Sesión
                  </button>
                </li>
                <li class="nav-item flex-fill" role="presentation">
                  <button class="nav-link w-100" id="profile-tab" data-bs-toggle="tab" data-bs-target="#bordered-justified-profile" type="button" role="tab" aria-controls="profile" aria-selected="false">
                    Registrarse
                  </button>
                </li>
             </ul>

             <div class="tab-content pt-2" id="borderedTabJustifiedContent">
                <div class="tab-pane fade show active" id="bordered-justified-home" role="tabpanel" aria-labelledby="home-tab">
                  <!--AQUI VA EL FORMS PARA INICIAR SESION-->
                  <form [formGroup]="loginForm" (ngSubmit)="loginIn()">

                    <div class="form-floating mb-3">
                      <input type="email" formControlName="usuario" name="usuario" class="form-control" id="floatingInput" [class]="errorLogininputs" placeholder="name@example.com">
                      <label for="floatingInput">Usuario</label>
                    </div>

                    <div class="form-floating mb-3">
                      <input type="password" class="form-control" id="floatingPassword" placeholder="Password" formControlName="pass" [class]="errorLogininputs">
                      <label for="floatingPassword">Contraseña</label>
                    </div>

                    <button type="submit" class="btn btn-outline-primary rounded-pill">
                      Iniciar Sesión
                    </button>
                  </form>
                </div>
                <div class="tab-pane fade" id="bordered-justified-profile" role="tabpanel" aria-labelledby="profile-tab">
                  <!--AQUI VA EL FORMS PARA REGISTRARSE-->
                  <form [formGroup]="alumnoForm" (ngSubmit)="register()" autocomplete="off">

                    <div class="form-floating mb-3">
                      <input formControlName="idCodigo1" type="text" class="form-control" id="floatingInput1" [ngClass]="{ 'is-invalid': submitted && f.nombres_alumno.errors }">
                      <label for="floatingInput1">Código</label>
                    </div>

                    <div class="form-floating mb-3">
                      <input formControlName="apellidos_alumno" type="text" class="form-control" id="floatingInput2" [ngClass]="{ 'is-invalid': submitted && f.nombres_alumno.errors }">
                      <label for="floatingInput2">Nombre Alumno</label>
                    </div>

                    <div class="form-floating mb-3">
                      <input formControlName="nombres_alumno" type="text" class="form-control" id="floatingInput3" [ngClass]="{ 'is-invalid': submitted && f.nombres_alumno.errors }">
                      <label for="floatingInput3">Apellido Alumno</label>
                    </div>

                    <div class="form-floating mb-3">
                      <input formControlName="usuario" type="email" class="form-control" id="floatingInput4" [ngClass]="{ 'is-invalid': submitted && f.usuario.errors }">
                      <label for="floatingInput4">Usuario</label>
                    </div>

                    <div class="form-floating mb-3">
                      <input formControlName="carnet" type="email" class="form-control" id="floatingInput8" [ngClass]="{ 'is-invalid': submitted && f.usuario.errors }">
                      <label for="floatingInput8">Carnet</label>
                    </div>

                    <div class="form-floating mb-3">
                      <input formControlName="pass" type="password" class="form-control" id="floatingInput5" [class]="passNoCoincide" [ngClass]="{ 'is-invalid': submitted && f.pass.errors }">
                      <label for="floatingInput5">Contraseña</label>
                    </div>

                    <div class="form-floating mb-3">
                      <input formControlName="confirmPass" type="password" class="form-control" id="floatingPassword6" [class]="passNoCoincide" [ngClass]="{ 'is-invalid': submitted && f.confirmPass.errors }">
                      <label for="floatingPassword6">Confirmar Contraseña</label>
                    </div>

                    <div class="form-floating2 mb-3">
                      <label class="form-label">Seleccione Grado:</label>
                      <select class="form-select" formControlName="idGrado" [ngClass]="{ 'is-invalid': submitted && f.idGrado.errors }">
                        <option *ngFor="let g of listaGrados" value="{{g.idGrado}}">{{g.nombre_grado+', Sección: '+g.seccion+', Nivel: '+g.nivel}}</option>
                      </select>
                    </div>

                    <button type="submit" class="btn btn-outline-primary rounded-pill">
                      Registrarse
                    </button>
                  </form>
                </div>
             </div>

        <!-- Registrarse o Iniciar Sesión -->
      </div>
    </div>
  </div>
</body>
</ng-template>