body{
  height: 100%;
  width: 100%;
  padding: 5%;
  background-image: url("../../../../../assets/img/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

#Contenedor{
  background-color: rgb(255, 255, 255);
  width: 80%;
  height: fit-content;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin: auto auto auto auto;
  opacity: .7;
  overflow-y: auto;
  overflow-x: hidden;
  padding: auto;
}


#img-logo{
  padding: 2%;
}

.img-fluid{
  margin:auto;
}

#borderedTabJustified{
  margin-top: 2%;
}

.btn{
  border-color: blue;
  color: blue;
  margin-left: 30px;
  margin-bottom: 2%;
}

.btn:hover{
  border-color: blue;
  color: white;
  background-color: blue;
}

.form-floating{
  width: 90%;
  margin: auto;
}
.form-floating2{
  width: 90%;
  margin: auto;
}

@media only screen and (min-width: 767px) and (max-width: 995px) {
  body{
    height: 100%;
    width: 100%;
  }
  #Contenedor{
    height: 700px;
  }
}

@media only screen and (max-width: 767px) {
  body{
    height: 100%;
    width: 100%;
  }
  #Contenedor{
    height: fit-content;
  }
}
