<header id="header" class="header fixed-top d-flex align-items-center" [style]="{'background-color': cnavbar1}">
  <div class="d-flex align-items-center justify-content-between"> <a routerLink="dashboard" class="logo d-flex align-items-center">
    <span class="d-none d-lg-block" [style]="{'color': ctexto2}">Tutor</span> </a> <i (click)="sidebarToggle()" class="fa-solid fa-bars toggle-sidebar-btn" [style]="{'color': ctexto2}"></i></div>
  <nav class="header-nav ms-auto">
     <ul class="d-flex align-items-center">
      <!---<app-notificaciones></app-notificaciones>-->
      <app-opciones-perfil [ctexto2]="ctexto2"></app-opciones-perfil>
     </ul>
  </nav>
</header>

