<footer id="footer" class="footer" [style]="{'background-color': cnavbar2}">
  <br>
  <div class="copyright" [style]="{'color': ctexto2}"> &copy; Copyright <strong><span>Establecimiento</span></strong>. Todos los derechos Reservados</div>
  <div class="credits" [style]="{'color': ctexto2}"> Desarrollado por <a href="https://nebel-tech.com/">Nebel-Tech Solutions</a></div>
  <br>
</footer>
<a (click)="scrollTop()" class="back-to-top d-flex align-items-center justify-content-center"><i class="fa-solid fa-chevron-up"></i></a>
