<div style="overflow-x: auto;">
  <table class="table table-hover">
    <thead>
       <tr>
          <th scope="col" class="text-center">Tema Foro</th>
          <th scope="col" class="text-center">Participaciones</th>
          <th scope="col" class="text-center">Puntuación</th>
       </tr>
    </thead>
    <tbody>
        <tr>
            <td align="center">Tema del Foro</td>
            <td align="center">5</td>
            <td align="center">5/5</td>
        </tr>
    </tbody>
 </table>
</div>

