
  <div class="row">
    <div class="col-12">
      <div class="card">
         <div class="card-body">
          <div class="d-flex" *ngFor="let al of NombreUsuario">
            <h5 class="card-title">Calificaciones del curso: {{al.nombres_alumno+ " " +al.apellidos_alumno}}</h5>
          </div>

          <div class="accordion" id="accordionPanelsStayOpenExample">
            <div class="accordion-item">
              <h2 class="accordion-header" id="panelsStayOpen-headingOne">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
                 Punteo del Curso
                </button>
              </h2>
              <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingOne">
                <div class="accordion-body">
                  <div class="tab-content pt-2" id="myTabjustifiedContent">
                    <div class="activity">
                       <div class="progress" style="height: 30px;" *ngFor="let ct of CalificacionTotal">
                         <div class="progress-bar progress-bar-striped bg-warning progress-bar-animated" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" [ngStyle]="{ width: ct.califitotal+ '%' }"
                         >{{ct.califitotal}}%</div>
                       </div>
                  </div>
                  </div>
                  </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
                 Tabla de Calificaciones del Curso
                </button>
              </h2>
              <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingTwo">
                <div class="accordion-body">

                  <div class="tab-content pt-2" id="myTabjustifiedContent">
                    <div class="activity">
                      <div style="overflow-x: auto;">
                        <table class="table table-striped">
                          <thead>
                             <tr>
                                <th scope="col" class="text-center">Actividad</th>
                                <th scope="col" class="text-center">Tema</th>
                                <!--<th scope="col" class="text-center">Entrega</th>-->
                                <th scope="col" class="text-center">Punteo</th>
                             </tr>
                          </thead>
                          <tbody>
                             <tr *ngFor="let ca of CalificacionCursos; let i=index">
                                <td align="center">{{ca.tipoActividad}}</td>
                                <td align="center">{{ca.nombre_actividad}}</td>
                               <!-- <td align="center">Si(no jala data)</td>-->
                                <td align="center">{{ca.calificacion}}/{{ca.valor}}</td>
                             </tr>
                          </tbody>
                       </table>
                      </div>
                      <div style="overflow-x: auto;">
                        <table class="table table-striped">
                          <thead>
                             <tr>
                                <th scope="col" style="text-align: right">Total</th>
                             </tr>
                          </thead>
                          <tbody>
                             <tr  *ngFor="let ct of CalificacionTotal; let i=index">
                                <td align="right">{{ct.califitotal}}/100</td>
                             </tr>
                          </tbody>
                       </table>
                      </div>
                  </div>
                  </div>

                </div>
              </div>
            </div>
          </div>
         </div>
      </div>
    </div>
  </div>
