<div class="card info-card sales-card">
  <div class="card-body">
    <h5 class="card-title">Ver Estadísticas:</h5>
    <div class="d-flex align-items-center">
      <div class="card-icon rounded-circle d-flex align-items-center justify-content-center"><i class="fa-solid fa-chart-pie"></i></div>
    </div>
 </div>
</div>

<div class="card">
  <div class="card-body">
    <h5 class="card-title">Alumnos del Curso</h5>
      <div class="activity">
          <!--Contenido-->
        Agregar un card para poder ver las estadísticas de los alumnos que reciben ese curso (estadísticas solo del curso como tal),
        será un modal por mientras
        <br><br>
        Ver el listado de los alumnos que reciben ese curso
      </div>
  </div>
</div>
