<div class="card info-card sales-card">
  <div class="card-body">
    <div class="activity">
      <nav class="d-flex justify-content-center">
        <button type="button" class="btn btn-warning mt-4" data-bs-toggle="modal" data-bs-target="#modalestadisticascurso"> Ver Estadísticas </button>
             <div class="modal fade" id="modalestadisticascurso" tabindex="-1">
                <div class="modal-dialog modal-dialog-centered">
                   <div class="modal-content">
                      <div class="modal-header">
                         <h5 class="card-title">Nombre de curso</h5>
                         <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                      </div>
                      <div class="modal-body">Aquí va un gráfico en forma de pie que muestra cuántos alumnos aprobaron o reprobaron el curso</div>
                      <div class="modal-footer"> <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button></div>
                   </div>
                </div>
             </div>
      </nav>
    </div>
 </div>
</div>

<div class="card">
  <div class="card-body">
    <h5 class="card-title">Alumnos del Curso</h5>
      <div class="activity">
          <!--Contenido-->
        Agregar un card para poder ver las estadísticas de los alumnos que reciben ese curso (estadísticas solo del curso como tal),
        será un modal por mientras
        <br><br>
        Ver el listado de los alumnos que reciben ese curso
      </div>
  </div>
</div>
