<main id="main" class="main" [style]="{'background-color': cfondo1}">
  <div class="pagetitle">
     <h1 [style]="{'color': ctexto1}">Profile</h1>
     <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a routerLink="/teacher/dashboard">Dashboard</a></li>
           <li class="breadcrumb-item">Profile</li>
        </ol>
     </nav>
  </div>
  <section class="section profile">
     <div class="row" *ngFor="let p of profesorGet">
        <div class="col-xl-4">
           <div class="card">
              <div class="card-body profile-card pt-4 d-flex flex-column align-items-center">
                <img [src]="profesorIndividual.imagen" alt="Profile" class="rounded-circle">
                  <h2>{{p.nombre_profesor}} {{p.apellido_profesor}}</h2>
                 <h3>Profesor</h3>
              </div>
           </div>
        </div>
        <div class="col-xl-8">
           <div class="card">
              <div class="card-body pt-3">
                 <ul class="nav nav-tabs nav-tabs-bordered">
                    <li class="nav-item"> <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#profile-overview">Overview</button></li>
                    <li class="nav-item"> <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-edit">Edit Profile</button></li>
                    <li class="nav-item"> <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-change-password">Change Password</button></li>
                    <li class="nav-item"> <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-archivos">Documentos Personales</button></li>
                 </ul>
                 <div class="tab-content pt-2">
                  <div class="tab-pane fade show active profile-overview" id="profile-overview">
                    <app-overview-perfil-profesor (datosEvento)="getEvent($event)"></app-overview-perfil-profesor>
                  </div>
                  <div class="tab-pane fade profile-edit pt-3" id="profile-edit">
                    <app-edit-perfil-profesor (datosEventoImagen)="getEvent2($event)"></app-edit-perfil-profesor>
                  </div>
                  <div class="tab-pane fade pt-3" id="profile-change-password">
                    <app-password-perfil-profesores></app-password-perfil-profesores>
                  </div>
                  <div class="tab-pane fade pt-3" id="profile-archivos">
                    <app-archivos-perfil-profesor></app-archivos-perfil-profesor>
                  </div>
                 </div>
              </div>
           </div>
        </div>
     </div>
  </section>
</main>

