<li class="nav-item"> <a class="nav-link " routerLink="dashboard"> <i class="fa-solid fa-house"></i> <span>Inicio</span> </a></li>
<li class="nav-item"> <a class="nav-link collapsed" routerLink="cursos"> <i class="fa-solid fa-book-open-reader"></i> <span>Cursos</span> </a></li>
<li class="nav-item"> <a class="nav-link collapsed" routerLink="planificaciones"> <i class="fa-solid fa-file-pen"></i> <span>Planificaciones</span> </a></li>
<li class="nav-item"> <a class="nav-link collapsed" routerLink="grado-guia"> <i class="fa-solid fa-user-graduate"></i> <span>Grado Guía</span> </a></li>
<li class="nav-item"> <a class="nav-link collapsed" routerLink="calendario"> <i class="fa-solid fa-calendar-days"></i> <span>Calendario</span> </a></li>
     <li class="nav-heading">Ver</li>
     <li class="nav-item"> <a class="nav-link collapsed" routerLink="curso"> <i class="fa-solid fa-book-open-reader"></i> <span>Vista del Curso</span> </a></li>
     <br>
     <li class="nav-item"> <a class="nav-link collapsed" routerLink="curso/foro"> <i class="fa-solid fa-book-open-reader"></i> <span>Foro</span> </a></li>
     <li class="nav-item"> <a class="nav-link collapsed" routerLink="curso/actividad"> <i class="fa-solid fa-book-open-reader"></i> <span>Actividades</span> </a></li>
     <li class="nav-item"> <a class="nav-link collapsed" routerLink="curso/examen"> <i class="fa-solid fa-book-open-reader"></i> <span>Examen</span> </a></li>
     <hr>
     <li class="nav-heading">Crear Cosas</li>
     <li class="nav-item"> <a class="nav-link collapsed" routerLink="crear/foro"> <i class="fa-solid fa-book-open-reader"></i> <span>Foro</span> </a></li>
     <li class="nav-item"> <a class="nav-link collapsed" routerLink="crear/actividad"> <i class="fa-solid fa-book-open-reader"></i> <span>Actividades</span> </a></li>
     <li class="nav-item"> <a class="nav-link collapsed" routerLink="crear/examen"> <i class="fa-solid fa-book-open-reader"></i> <span>Examen</span> </a></li>
     <hr>
     <li class="nav-item"> <a class="nav-link collapsed" routerLink="/login"> <i class="fa-solid fa-book-open-reader"></i> <span>Salir</span> </a></li>
