<li class="nav-item"> <a class="nav-link " routerLink="dashboard"> <i class="fa-solid fa-house"></i> <span>Inicio</span> </a></li>
<li class="nav-item"> <a class="nav-link collapsed" routerLink="cursos"> <i class="fa-solid fa-book-open-reader"></i> <span>Cursos</span> </a></li>
<li class="nav-item"> <a class="nav-link collapsed" routerLink="grado-guia"> <i class="fa-solid fa-user-graduate"></i> <span>Grado Guía</span> </a></li>
<li class="nav-item"> <a class="nav-link collapsed" routerLink="calendario"> <i class="fa-solid fa-calendar-days"></i> <span>Calendario</span> </a></li>

     <hr>
     <li class="nav-item"> <a class="nav-link collapsed" routerLink="/login"> <i class="fa-sharp fa-solid fa-right-from-bracket"></i> <span>Salir</span> </a></li>
