<li class="nav-item"> <a class="nav-link " routerLink="dashboard"> <i class="fa-solid fa-gauge"></i> <span>Inicio</span> </a></li>
<li class="nav-item"> <a class="nav-link collapsed" routerLink="contenido/foro"> <i class="fa-solid fa-book-open-reader"></i> <span>Foro</span> </a></li>
<li class="nav-item"> <a class="nav-link collapsed" routerLink="cotenido/planificaciones"> <i class="fa-solid fa-book-open-reader"></i> <span>Planificaciones</span> </a></li>
<li class="nav-item"> <a class="nav-link collapsed" routerLink="cotenido/grado-guia"> <i class="fa-solid fa-book-open-reader"></i> <span>Grado Guía</span> </a></li>
     <li class="nav-heading">Mi Cuenta</li>
     <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#account-nav" data-bs-toggle="collapse" href="#"> <i class="fa-solid fa-gear"></i><span>Configuraciones</span><i class="fa-solid fa-chevron-down ms-auto"></i> </a>
        <ul id="account-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
           <li> <a routerLink="settings/basic"> <i class="fa-solid fa-circle"></i><span>Mi Perfil</span> </a></li>
           <li> <a routerLink="/icons-boxicons"> <i class="fa-solid fa-circle"></i><span>Editar Cuenta</span> </a></li>
        </ul>
     </li>
     <li class="nav-heading">Configuraciones</li>
     <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#config-nav" data-bs-toggle="collapse" href="#"> <i class="fa-solid fa-gear"></i><span>Configuraciones</span><i class="fa-solid fa-chevron-down ms-auto"></i> </a>
        <ul id="config-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
           <li> <a routerLink="contenido/curso"> <i class="fa-solid fa-circle"></i><span>Tema</span> </a></li>
           <li> <a routerLink="contenido/prueba-profesores"> <i class="fa-solid fa-circle"></i><span>Idioma</span> </a></li>
        </ul>
     </li>
     <hr>
     <li class="nav-item"> <a class="nav-link collapsed" routerLink="settings/apariencia"> <i class="fa-solid fa-book-open-reader"></i> <span>Salir</span> </a></li>
