<form autocomplete="off">
  <div class="row mb-3">
     <label for="profileImage" class="col-md-4 col-lg-3 col-form-label">Imagen de Perfil</label>
     <div class="col-md-8 col-lg-9">
        <img src="assets/img/blank_profile.png" alt="Profile">
        <div class="pt-2"> <a href="#" class="btn btn-primary btn-sm" title="Upload new profile image"><i class="fa-solid fa-pen-to-square"></i></a> <a href="#" class="btn btn-danger btn-sm" title="Remove my profile image"><i class="fa-solid fa-trash-can"></i></a></div>
     </div>
  </div>
  <div class="row mb-3">
     <label class="col-md-4 col-lg-3 col-form-label">Nombre</label>
     <div class="col-md-8 col-lg-9"> <input name="nombre_profesor" type="text" class="form-control" [(ngModel)]="profesorIndividual[0].nombre_profesor"></div>
  </div>
  <div class="row mb-3">
     <label class="col-md-4 col-lg-3 col-form-label">Apellidos</label>
     <div class="col-md-8 col-lg-9"> <input name="apellido_profesor" type="text" class="form-control" [(ngModel)]="profesorIndividual[0].apellido_profesor"></div>
  </div>
  <div class="row mb-3">
     <label class="col-md-4 col-lg-3 col-form-label">Rol</label>
     <div class="col-md-8 col-lg-9"> <input disabled type="text" class="form-control" value="Profesor"></div>
  </div>
  <div class="row mb-3">
     <label class="col-md-4 col-lg-3 col-form-label">Teléfono</label>
     <div class="col-md-8 col-lg-9"> <input name="telefono" type="text" class="form-control" [(ngModel)]="profesorIndividual[0].telefono"></div>
  </div>
  <div class="row mb-3">
     <label class="col-md-4 col-lg-3 col-form-label">CUI</label>
     <div class="col-md-8 col-lg-9"> <input name="CUI" type="text" class="form-control" id="Country" [(ngModel)]="profesorIndividual[0].CUI"></div>
  </div>
  <div class="row mb-3">
     <label class="col-md-4 col-lg-3 col-form-label">Usuario</label>
     <div class="col-md-8 col-lg-9"> <input name="usuario" type="email" class="form-control" [(ngModel)]="profesorIndividual[0].usuario"></div>
  </div>
  <div class="row mb-3">
     <label class="col-md-4 col-lg-3 col-form-label">Fecha de Nacimiento</label>
     <div class="col-md-8 col-lg-9"> <input name="fecha_nacimiento" type="date" class="form-control" [(ngModel)]="profesorIndividual[0].fecha_nacimiento"></div>
  </div>
  <div class="row mb-3">
    <label class="col-md-4 col-lg-3 col-form-label">Estado</label>
    <div class="col-md-8 col-lg-9"><span [class]="classBadgeActive">{{estado}}</span></div>
  </div>
  <div class="row mb-3">
    <label class="col-md-4 col-lg-3 col-form-label">Mostrar Correo</label>
    <div class="col-md-8 col-lg-9" *ngIf="profesorIndividual[0].permitir_ver_correo==1;else checkSinSeleccionar"><input class="form-check-input" type="checkbox" (change)="selectedCheck($event)" checked></div>
    <ng-template #checkSinSeleccionar> <div class="col-md-8 col-lg-9"><input class="form-check-input" type="checkbox" (change)="selectedCheck($event)"></div></ng-template>
  </div>
  <hr>
  <div class="text-center"> <button type="submit" class="btn btn-primary" (click)="insertProfesor(profesorIndividual[0].idProfesor)">Actualizar Datos</button></div>
</form>
