<section class="vh-100" *ngIf="sppinerOn==true;else LoginOriginal">
  <app-loader-general></app-loader-general>
</section>
<ng-template #LoginOriginal>
  <section class="vh-100 color-fondo">
    <div class="container-fluid h-custom">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-md-9 col-lg-6 col-xl-5 text-center">
          <img src="assets/img/logo/logo_brinco.png"
            class="img-fluid" alt="Sample image">
        </div>
        <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
          <form>
            <h3 class="text-center">Plataforma Acad&eacute;mica</h3><br><br>
          <div *ngIf="registrarse==false;else registro;">
            <!-- Email input -->
            <div class="form-outline mb-4">
              <input type="email" [(ngModel)]="datosLogin.usuario" name="usuario" [class]="errorLogininputs" placeholder="Usuario" />
            </div>
            <!-- Password input -->
            <div class="form-outline mb-3">
              <input type="password" [(ngModel)]="datosLogin.pass" name="pass" [class]="errorLogininputs" placeholder="Contraseña" />
            </div>
            <div class="alert alert-danger" role="alert" *ngIf="alertaError=='1'">
              Usuario y/o Contraseña incorrecta
            </div>



            <div class="alert alert-success alert-dismissible fade show" role="alert" *ngIf="alertaCreadoCorrecto=='1';else errorCrear">
              Usuario creado correctamente
              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>

            <ng-template #errorCrear>
              <div class="alert alert-warning alert-dismissible fade show" role="alert" *ngIf="alertaCreadoCorrecto=='0'">
                Error al crear usuario
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
              </div>
            </ng-template>


            <div class="d-flex justify-content-between align-items-center">
              <br><a class="text-body btn btn-link" (click)="inicioRegistro()">Registrarme</a>
            </div>
            <div class="text-center text-lg-start mt-4 pt-2">
              <button type="submit" class="btn btn-primary btn-lg"
                (click)="loginIn()">Iniciar Sesión</button>
            </div>
          </div>
          </form>
          <!--Verificar Código-->
          <ng-template #registro>
            <div class="text-center text-lg-start mt-4 pt-2" *ngIf="isCorrectCodigo!=true;else codigoCorrecto">

            <!-- Código input -->
            <div class="mb-3">
              <label for="exampleFormControlInput1" class="form-label">Código</label>
              <input type="text" class="form-control" [class]="codigoError" #datoCodigo>
            </div>

              <button type="submit" class="btn btn-success btn-lg"
                (click)="verificarCodigo(datoCodigo.value)">Verificar Código</button>

              <button type="button" class="btn btn-secondary btn-lg"
                (click)="salirRegistro()">Cancelar</button>
            </div>
            <ng-template #codigoCorrecto>
              <form [formGroup]="alumnoForm" (ngSubmit)="register()" autocomplete="off">
                <div class="text-center text-lg-start mt-4 pt-2">
                <!--formulario de registro alumnos-->

                <div class="mb-3">
                  <label class="form-label">Nombre del Alumno</label>
                  <input formControlName="nombres_alumno" type="text" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.nombres_alumno.errors }">
                </div>

                <div class="mb-3">
                  <label class="form-label">Apellido del Alumno</label>
                  <input formControlName="apellidos_alumno" type="text" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.apellidos_alumno.errors }">
                </div>

                <div class="mb-3">
                  <label class="form-label">Usuario:</label>
                  <input formControlName="usuario" type="text" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.usuario.errors }">
                </div>

                <div class="mb-3">
                  <label class="form-label">Carnet:</label>
                  <input formControlName="carnet" type="text" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.carnet.errors }">
                </div>

                <div class="mb-3">
                  <label class="form-label">Contraseña:</label>
                  <input formControlName="pass" type="password" class="form-control" [class]="passNoCoincide" [ngClass]="{ 'is-invalid': submitted && f.pass.errors }">
                </div>

                <div class="mb-3">
                  <label class="form-label">Confirmar Contraseña:</label>
                  <input formControlName="confirmPass" type="password" class="form-control" [class]="passNoCoincide" [ngClass]="{ 'is-invalid': submitted && f.confirmPass.errors }">
                </div>

                <div class="mb-3">
                  <label class="form-label">Seleccione Grado:</label>
                  <select class="form-select" aria-label="Default select example" formControlName="idGrado" [ngClass]="{ 'is-invalid': submitted && f.idGrado.errors }">
                    <option *ngFor="let g of listaGrados" value="{{g.idGrado}}">{{g.nombre_grado+', Sección: '+g.seccion+', Nivel: '+g.nivel}}</option>
                  </select>
                </div>


                <div class="text-center">
                  <button class="btn btn-primary" type="submit">Registrar</button>
                  <button class="btn btn-secondary"(click)="salirRegistro()">Cancelar</button>
                </div>

                </div>
              </form>
            </ng-template>

          </ng-template>

        </div>
      </div>
    </div>
    <div
      class="d-flex flex-column flex-md-row text-center text-md-start justify-content-between py-4 px-4 px-xl-5 bg-primary">
      <!-- Copyright -->
      <div class="text-white mb-3 mb-md-0">
        Copyright © 2020. All rights reserved.
      </div>
      <!-- Copyright -->

      <!-- Right -->
      <div>
        <a href="#!" class="text-white me-4">
          <i class="fab fa-facebook-f"></i>
        </a>
        <a href="#!" class="text-white me-4">
          <i class="fab fa-twitter"></i>
        </a>
        <a href="#!" class="text-white me-4">
          <i class="fab fa-google"></i>
        </a>
        <a href="#!" class="text-white">
          <i class="fab fa-linkedin-in"></i>
        </a>
      </div>
      <!-- Right -->
    </div>
  </section>
</ng-template>


