<main id="main" class="main">
  <div class="pagetitle">
     <h1>Foro de Discusión: La Guerra Mundial</h1>
     <nav>
        <ol class="breadcrumb">
           <li class="breadcrumb-item"><a routerLink="/">Regresar</a></li>
        </ol>
     </nav>
  </div>
  <section class="section dashboard">
     <div class="row">
          <div class="col-lg-12"> <!-- Comentario Principal del Profesor -->
             <div class="card p-5">
                <div class="row">
                   <div class="col-xxl-2 col-md-2">
                      <div class="card-body profile-card pt-4 d-flex flex-column align-items-center">
                         <img src="assets/img/profile-img.jpg" alt="Profile" class="rounded-circle">
                       </div>
                   </div>
                   <div class="col-xxl-10 col-md-10">
                      <div class="card-body">
                         <h5 class="card-title">Foro de Discusión: La guerra mundial</h5>
                         <div style="color: darkblue;">Nombre del maestro que hizo el foro</div>
                           <div class="activity">
                            <div>Cotejo:
                                  <ul>
                                     <li>Responder en 5 líneas</li>
                                     <li>Comentar al menos 3 respuestas de sus compañeros</li>
                               </ul>
                            </div>
                            <div>Fecha de Cierre: 5 de diciembre</div>
                            <hr>
                           </div>
                       </div>
                   </div>
                   <div class="col-xxl-12 col-md-12">
                      A continuación encontrará algunas preguntas que debe responder de acuerdo a su criterio; después debe leer las respuestas de alguno de sus compañeros e indicar en el foro si está o no de acuerdo con ellos justificando su respuesta. Comente al menos dos de las respuestas de un compañero.
                      <br><br>
                      1. ¿Es lo mismo honestidad e integridad?
                      <br><br>
                      2. ¿Cuál sería el valor fundamental que se debería practicar en una sociedad que se encuentra en decadencia para poder generar un cambio? ¿Por qué?
                      <br><br>
                      3. ¿Qué aspectos o características posee una persona confiable?
                      <br><br>
                      4. ¿Cuál cree que es la causa principal por la que una persona no aplica la moralidad?
                   </div>
                </div>
             </div>
          </div>
          <div class="col-lg-12 ps-5"> <!-- Respuesta de cada Alumno -->
             <div class="card p-5">
                <div class="row">
                   <div class="col-xxl-2 col-md-2">
                      <div class="card-body profile-card pt-4 d-flex flex-column align-items-center">
                         <img src="assets/img/profile-img.jpg" alt="Profile" class="rounded-circle">
                       </div>
                   </div>
                   <div class="col-xxl-10 col-md-10">
                      <div class="card-body">
                         <div class="pt-4" style="color: darkblue;">Nombre del alumno que comenta</div>
                           <div class="activity">
                            <div>Hora en la que comentó: 5 de diciembre</div>
                           </div>
                       </div>
                   </div>
                   <div class="col-xxl-12 col-md-12">
                      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ratione assumenda reprehenderit deleniti reiciendis nesciunt fugit commodi, animi iure atque doloremque, impedit quae eaque modi aperiam quis. Doloremque accusamus ullam esse!
                      <br><br>
                      Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio vel perferendis ipsa ex cumque voluptatem et quasi natus asperiores libero, facilis consequatur est suscipit, illum corporis, omnis enim id ullam!
                   </div>
                </div>
                <hr class="mt-5">
                <div class="row ps-5">
                   <div class="col-xxl-2 col-md-2">
                      <div class="card-body profile-card pt-4 d-flex flex-column align-items-center">
                         <img src="assets/img/profile-img.jpg" alt="Profile" class="rounded-circle">
                       </div>
                   </div>
                   <div class="col-xxl-10 col-md-10">
                      <div class="card-body">
                         <div class="pt-4" style="color: darkblue;">Nombre del alumno que comenta</div>
                           <div class="activity">
                            <div>Hora en la que comentó: 5 de diciembre</div>
                           </div>
                       </div>
                   </div>
                   <div class="col-xxl-12 col-md-12">
                      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ratione assumenda reprehenderit deleniti reiciendis nesciunt fugit commodi, animi iure atque doloremque, impedit quae eaque modi aperiam quis. Doloremque accusamus ullam esse!
                      <br><br>
                      Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio vel perferendis ipsa ex cumque voluptatem et quasi natus asperiores libero, facilis consequatur est suscipit, illum corporis, omnis enim id ullam!
                   </div>
                </div>
             </div>
          </div>
          <div class="col-lg-12 ps-5"> <!-- Respuesta de cada Alumno -->
             <div class="card p-5">
                <div class="row">
                   <div class="col-xxl-2 col-md-2">
                      <div class="card-body profile-card pt-4 d-flex flex-column align-items-center">
                         <img src="assets/img/profile-img.jpg" alt="Profile" class="rounded-circle">
                       </div>
                   </div>
                   <div class="col-xxl-10 col-md-10">
                      <div class="card-body">
                         <div class="pt-4" style="color: darkblue;">Nombre del alumno que comenta</div>
                           <div class="activity">
                            <div>Hora en la que comentó: 5 de diciembre</div>
                           </div>
                       </div>
                   </div>
                   <div class="col-xxl-12 col-md-12">
                      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ratione assumenda reprehenderit deleniti reiciendis nesciunt fugit commodi, animi iure atque doloremque, impedit quae eaque modi aperiam quis. Doloremque accusamus ullam esse!
                      <br><br>
                      Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio vel perferendis ipsa ex cumque voluptatem et quasi natus asperiores libero, facilis consequatur est suscipit, illum corporis, omnis enim id ullam!
                   </div>
                </div>
             </div>
          </div>
     </div>
  </section>
</main>



