<main id="main" class="main">
  <div class="pagetitle">
    <h1>Matemática</h1>
    <nav>
     <ol class="breadcrumb">
        <li class="breadcrumb-item active">Profesor: Pececito Ahogado</li>
     </ol>
  </nav>
 </div>
  <section class="section dashboard">
     <div class="row">
        <div class="col-lg-12">
          <app-card-info-resumen></app-card-info-resumen>
          <app-calendario-resumen-curso></app-calendario-resumen-curso>
          <app-progress-resumen-curso></app-progress-resumen-curso>
        </div>
     </div>
  </section>
</main>


