<div style="overflow-x: auto;">
  <table class="table table-hover">
    <thead>
       <tr>
          <th scope="col" class="text-center">Tema Examen</th>
          <th scope="col" class="text-center">Correctas</th>
          <th scope="col" class="text-center">Incorrectas</th>
          <th scope="col" class="text-center">Sin responder</th>
          <th scope="col" class="text-center">Puntuación</th>
       </tr>
    </thead>
    <tbody>
        <tr>
            <td align="center">Tema del examen</td>
            <td align="center">10</td>
            <td align="center">3 </td>
            <td align="center">2</td>
            <td align="center">25/30</td>
        </tr>
    </tbody>
 </table>
</div>


