<br>
<div class="text-end">
    <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#AgregarCurso"><i class="fa-solid fa-plus"></i></button>
  </div>
<table class="table table-striped table-hover">
    <thead>
        <th class="text-center">ID</th>
        <th class="text-center">Curso</th>
        <th class="text-center">Docente</th>
        <th class="text-center">ID. Docente</th>
        <th class="text-center">Acciones</th>
    </thead>
    <tbody>
        <tr *ngFor="let c of listaCursos;let i = index">
            <td class="text-center">{{i+1}}</td>
            <td class="text-center"><a routerLink="/admin/grado/curso/{{idGrado}}/{{c.idCurso}}/{{c.idProfesor}}">{{c.nombre_curso}}</a></td>
            <td class="text-center">{{c.profesor}}</td>
            <td class="text-center">{{c.idProfesor}}</td>
            <td class="text-center">
                <button class="btn btn-primary"  data-bs-toggle="modal" data-bs-target="#CursoEdit"><i class="fa-solid fa-pen-to-square"></i></button>
                <button class="btn btn-success"><i class="fa-solid fa-table"></i></button>
                <button class="btn btn-warning"><i class="fa-solid fa-table-columns"></i></button>
                <button class="btn btn-danger"><i class="fa-solid fa-trash-can"></i></button>
            </td>
        </tr>
    </tbody>
</table>

<div class="modal fade" id="AgregarCurso" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="staticBackdropLabel">Agregar Grado</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">


          <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Nombre del Curso</label>
            <input autocomplete="off" type="text" name="nombreGrado" [class]="cursoVacioError" id="exampleFormControlInput1" required>
          </div>
          <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Abreviatura</label>
            <input autocomplete="off" type="text" name="nombreGrado" [class]="cursoVacioError" id="exampleFormControlInput1" required>
          </div>

          <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Docente:</label>
            <select class="form-select" aria-label="Default select example">
                <option *ngFor="let p of listaDocentes" value="{{p.idProfesor}}">{{p.apellido_profesor+', '+p.nombre_profesor}}</option>
                </select>
            <label>Docente Actual: <b>Variable Pendiente</b></label>
          </div>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="crearCurso()">Actualizar</button>
        </div>
      </div>
    </div>
  </div>
