  <div class="row mb-3" *ngIf="constraCorrecta==false">
     <label for="currentPassword" class="col-md-4 col-lg-3 col-form-label">Contraseña Actual</label>
     <div class="col-md-8 col-lg-9"><div class="input-group mb-3">
        <input type="text" [class]="errorLogininputs" [(ngModel)]="passOriginal.pass" required>
        <button class="btn btn-info text-light" type="button" (click)="verificarPass(passOriginal.pass)"><i class="fa-sharp fa-solid fa-key"></i> Verificar</button>
      </div>
      <div class="alert alert-success alert-dismissible fade show" role="alert" *ngIf="alertaSuccess=='1'"><i class="fa-solid fa-xmark"></i> Contraseña Actualizada de manera correcta <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button></div>
     <div class="alert alert-danger" role="alert" *ngIf="alertaError=='1'"><i class="fa-solid fa-xmark"></i> La contraseña no coincide</div>
  </div>
  </div>
  <div *ngIf="constraCorrecta==true">
    <div class="row mb-3">
      <label for="newPassword" class="col-md-4 col-lg-3 col-form-label">Nueva contraseña</label>
      <div class="col-md-8 col-lg-9"> <input name="newpassword" type="password" [class]="errorLogininputs" [(ngModel)]="contraNueva"></div>
    </div>
    <div class="row mb-3">
      <label for="renewPassword" class="col-md-4 col-lg-3 col-form-label">Confirmar Contraseña</label>
      <div class="col-md-8 col-lg-9"> <input name="renewpassword" type="password" [class]="errorLogininputs" [(ngModel)]="contraNuevaRe"></div>
    </div>
    <div class="alert alert-danger alert-dismissible fade show" role="alert" *ngIf="alertaError=='1'"><i class="fa-solid fa-xmark"></i> La contraseña no coincide <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button></div>
    <div class="alert alert-danger alert-dismissible fade show" role="alert" *ngIf="alertaErrorDos=='1'"><i class="fa-solid fa-xmark"></i> La contraseña es igual a la anterior <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button></div>
    <div class="alert alert-danger alert-dismissible fade show" role="alert" *ngIf="alertaErrorCambioContra=='1'"><i class="fa-solid fa-xmark"></i> Error al cambiar contraseña <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button></div>
    <div class="text-center"><button type="submit" class="btn btn-primary" (click)="compararImputsContras()">Actualizar</button></div>
  </div>
