<div>
    Aquí van las actividades del curso (meter una tabla, todos los módulos usarán esto) <br><br>
    Para el botón de "Nueva actividad", crear un nuevo componente donde se muestren 4 opciones: Actividad (para elegir el nombre, subir info y así), Calificaciones (para calificarla), Alumnos (para ver a quiénes se les asigna la tarea) y Gráficos (una de barras para ver cuántos lo entregaron y cuántos no, y otra de pie para promediar las notas)
    <br>
    Esa vista se reciclaría para la opción "Ver actividad", la diferencia es que ya no se podría editar nada, solo las notas y las asignaciones de alumnos
</div>
