
  <div class="row">
    <div class="col-12">
      <div class="card">
         <div class="card-body mt-3">
          <ul class="nav nav-tabs d-flex" id="myTabjustified" role="tablist">
            <li class="nav-item flex-fill" role="presentation"> <button class="nav-link w-100 active" id="tareas-curso-tab" data-bs-toggle="tab" data-bs-target="#tareas-curso-justified" type="button" role="tab" aria-controls="tareas-curso" aria-selected="true">Tareas</button></li>
            <li class="nav-item flex-fill" role="presentation"> <button class="nav-link w-100" id="examenes-curso-tab" data-bs-toggle="tab" data-bs-target="#examenes-curso-justified" type="button" role="tab" aria-controls="examenes-curso" aria-selected="false" disabled>Examenes</button></li>
            <li class="nav-item flex-fill" role="presentation"> <button class="nav-link w-100" id="foros-curso-tab" data-bs-toggle="tab" data-bs-target="#foros-curso-justified" type="button" role="tab" aria-controls="foros-curso" aria-selected="false" disabled>Foros</button></li>
          </ul>


          <div class="tab-content pt-2" id="myTabjustifiedContent">
              <div class="tab-pane fade show active" id="tareas-curso-justified" role="tabpanel" aria-labelledby="tareas-curso-tab">

                <div *ngIf="sppinerOn==true;else MostrarDataPerfilOverview">
                  <app-loaderpeque></app-loaderpeque>
               </div>

               <ng-template #MostrarDataPerfilOverview>

                <div style="overflow-x: auto;">
                  <table class="table table-hover" *ngIf="Tareas!='';else tablaVacia">
                    <thead>
                       <tr>
                          <th scope="col" class="text-center">Tarea</th>
                          <th scope="col" class="text-center">Descripción</th>
                          <!---
                          <th scope="col" class="text-center">Comentario del profesor</th>
                          <th scope="col" class="text-center">Entrega</th>
                          -->
                          <th scope="col" class="text-center">Puntuación</th>
                       </tr>
                    </thead>
                    <tbody >
                       <tr *ngFor="let ca of Tareas; let i=index">
                          <td align="center">{{ca.nombre_actividad}}</td>
                          <td align="center">{{ca.detalle}}</td>
                          <!--
                          <td align="center"><button type="button" class="btn btn-primary rounded-pill" data-bs-toggle="modal" data-bs-target="#ModalComentario"> Ver Comentario</button> </td>
                          <td align="center">A tiempo(no jala data)</td>
                          -->
                          <td align="center">{{ca.calificacion}}/{{ca.valor}}</td>

                          <div class="modal fade" id="ModalComentario" tabindex="-1">
                            <div class="modal-dialog modal-dialog-centered">
                               <div class="modal-content">
                                  <div class="modal-header">
                                     <h5 class="modal-title">Comentario de Profesor</h5>
                                     <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                  </div>
                                  <div class="modal-body">(no jala data)</div>
                                  <div class="modal-footer"> <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button></div>
                               </div>
                            </div>
                         </div>

                       </tr>
                    </tbody>


                 </table>

                </div>
                </ng-template>

                <ng-template #tablaVacia>
                  <div class="alert alert-warning" role="alert">
                    Sin registros, no tiene ninguna actividad por el momento...
                  </div>
                </ng-template>

              </div>
              <div class="tab-pane fade" id="examenes-curso-justified" role="tabpanel" aria-labelledby="examenes-curso-tab">
                <div style="overflow-x: auto;">
                  <table class="table table-hover">
                    <thead>
                       <tr>
                          <th scope="col" class="text-center">Tema Examen</th>
                          <th scope="col" class="text-center">Correctas</th>
                          <th scope="col" class="text-center">Incorrectas</th>
                          <th scope="col" class="text-center">Sin responder</th>
                          <th scope="col" class="text-center">Puntuación</th>
                       </tr>
                    </thead>
                    <tbody>
                        <tr  *ngFor="let ca of Examen; let i=index">
                            <td align="center">{{ca.nombre_actividad}}</td>
                            <td align="center">10(no jala data)</td>
                            <td align="center">3(no jala data) </td>
                            <td align="center">2(no jala data)</td>
                            <td align="center">{{ca.calificacion}}/{{ca.valor}}</td>
                        </tr>
                    </tbody>
                 </table>
                </div>
              </div>
              <div class="tab-pane fade" id="foros-curso-justified" role="tabpanel" aria-labelledby="foros-curso-tab">
                <div style="overflow-x: auto;">
                  <table class="table table-hover">
                    <thead>
                       <tr>
                          <th scope="col" class="text-center">Tema Foro</th>
                          <th scope="col" class="text-center">Participaciones</th>
                          <th scope="col" class="text-center">Puntuación</th>
                       </tr>
                    </thead>
                    <tbody>
                        <tr  *ngFor="let ca of Foro; let i=index">
                            <td align="center">{{ca.nombre_actividad}}</td>
                            <td align="center">5(no jala data)</td>
                            <td align="center">{{ca.calificacion}}/{{ca.valor}}</td>
                        </tr>
                    </tbody>
                 </table>
                </div>
              </div>
          </div>
         </div>
      </div>
    </div>
  </div>


