<main id="main" class="main">
  <div class="pagetitle">
    <h1>Lista de Grados</h1>
    <nav>
       <ol class="breadcrumb">
          <li class="breadcrumb-item"><a routerLink="/admin/dashboard">Home</a></li>
          <li class="breadcrumb-item active">Lista de Grados</li>
       </ol>
    </nav>
  </div>

<section class="section">
  <div class="row">
     <div class="col-lg-12">
      <div class="card">
        <div class="card-body">
          <div class="d-flex">
            <h5 class="card-title">Seleccione un Nivel <span>| Listado de Grados </span></h5>
          </div>
          <select class="form-select" (change)="selectValue($event)">
            <option selected>Nivel...</option>
            <option *ngFor="let n of nivelesGet" value="{{n.idNivel}}">{{n.nivel+', '+n.jornada}}</option>
          </select>
          <div class="text-end">
            <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#AgregarGradoModal"><i class="fa-solid fa-plus"></i></button>
          </div>
          <div *ngIf="seleccionadoSelectGrado=='1';else noNivelSelected">
            <br>
            <mat-label>Buscar: </mat-label>
            <mat-form-field>
              <input autocomplete="off" class="form-control inputBorderSearch" matInput (keyup)="applyFilter($event)" #input>
            </mat-form-field>
            <!--Inicia Loader-->
            <div *ngIf="sppinerOn==true;else MostrarDataPerfilOverview">
              <app-loaderpeque></app-loaderpeque>
           </div>
           <!--Termina loader e inicia ng-template para info-->
           <ng-template #MostrarDataPerfilOverview>
            <div style="overflow-x: auto;">
            <table mat-table [dataSource]="dataSource" class="table  align-middle table-striped table-hover">

              <ng-container matColumnDef="no">
                <th mat-header-cell *matHeaderCellDef class="text-center"> ID </th>
                <td mat-cell *matCellDef="let g" class="text-center">{{g.idGrado}}</td>
              </ng-container>

              <ng-container matColumnDef="nombre_grado">
                <th mat-header-cell *matHeaderCellDef class="text-center"> Grado </th>
                <td mat-cell *matCellDef="let g" class="text-center"><a routerLink="/admin/grado/{{g.idGrado}}/{{idNivelSelecciondo}}">{{g.nombre_grado}}</a></td>
              </ng-container>

              <ng-container matColumnDef="seccion">
                <th mat-header-cell *matHeaderCellDef class="text-center"> Sección </th>
                <td mat-cell *matCellDef="let g" class="text-center">{{g.seccion}}</td>
              </ng-container>

              <ng-container matColumnDef="cantidad_alumnos">
                <th mat-header-cell *matHeaderCellDef class="text-center"> Alumnos </th>
                <td mat-cell *matCellDef="let g" class="text-center">{{g.Alumnos}}</td>
              </ng-container>

              <ng-container matColumnDef="status">
                <th mat-header-cell *matHeaderCellDef class="text-center"> Estado </th>
                <td mat-cell *matCellDef="let g" class="text-center">
                  <span class="badge bg-success" *ngIf="g.estatus=='1';else activoInactivo">Activo</span>
                  <ng-template #activoInactivo>
                    <span class="badge bg-danger">Inactivo</span>
                  </ng-template>
                </td>
              </ng-container>

              <ng-container matColumnDef="acciones">
                <th mat-header-cell *matHeaderCellDef class="text-center"> Sección </th>
                <td mat-cell *matCellDef="let g" class="text-center">
                  <button class="btn trophy-button" data-bs-toggle="tooltip" data-bs-placement="top" (click)="cuadroFinalSeleccionado(g.idGrado)" title="Consolidado Final" data-bs-toggle="modal" data-bs-target="#modalConsolidadoFinal"><i class="fa-solid fa-trophy"></i></button>
                  <button class="btn btn-success" data-bs-toggle="tooltip" data-bs-placement="top" (click)="GradoSeleccionado(g.idGrado)" title="Consolidado Bimestral" data-bs-toggle="modal" data-bs-target="#modalConsolidadoBimestral"><i class="fa-solid fa-table"></i></button>
                  <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#gradoEdit" (click)="buscarGradoIndividual(g.idGrado)"><i class="fa-solid fa-pen-to-square"></i></button>
                  <button class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#EliminarGradoModal" (click)="buscarGradoIndividual(g.idGrado)"><i class="fa-solid fa-trash-can"></i></button>
                </td>
              </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            <!-- Row shown when there is no matching data. -->
            <tr class="mat-row" *matNoDataRow>
              <td class="mat-cell" colspan="4">No se encuentran datos con: "{{input.value}}"</td>
            </tr>
          </table>
          </div>
          </ng-template>
          <!--Finaliza ng-template para info-->

          <mat-paginator [pageSize]="gradosPorPagina" aria-label="Select page of users"></mat-paginator>
          <!--Alerta-->
          <div [class]="alertaValor.classAlerta" role="alert" aria-live="assertive" aria-atomic="true">
            <div class="d-flex">
              <div class="toast-body">
                <i [class]="alertaValor.icon"></i> {{alertaValor.mensajeAlerta}}
              </div>
              <button type="button" #CerrarAlerta class="btn btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close">x</button>
            </div>
          </div>
          <!--Alerta-->
          </div>
          <ng-template #noNivelSelected>
            <br>
            <div class="alert alert-warning" role="alert">
              No se ha seleciconado nivel!
            </div>
            <!--Alerta-->
          <div [class]="alertaValor.classAlerta" role="alert" aria-live="assertive" aria-atomic="true">
            <div class="d-flex">
              <div class="toast-body">
                <i [class]="alertaValor.icon"></i> {{alertaValor.mensajeAlerta}}
              </div>
              <button type="button" #CerrarAlerta class="btn btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close">x</button>
            </div>
          </div>
          <!--Alerta-->
          </ng-template>
        </div>
      </div>
     </div>
  </div>
</section>
</main>

<!-- Modal Editar-->
<div class="modal fade" id="gradoEdit" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="staticBackdropLabell">Editar Grado</h1>
        <button type="button" #cerrarEditarModal class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form class="row g-3" [formGroup]="gradoFormthis" (ngSubmit)="editGrado(gradoIndividual.idGrado)" autocomplete="off">
      <div class="modal-body">

        <div class="mb-3">
          <label for="">Nivel:</label>
          <select formControlName="idNivel" class="form-select" aria-label="Default select example">
            <option selected>Selecciona...</option>
            <option *ngFor="let n of nivelesGet" value="{{n.idNivel}}">{{n.nivel+', '+n.jornada}}</option>
          </select>
          <label for="">Nivel Actual: <b>{{gradoIndividual.nivel+', '+gradoIndividual.jornada}}</b></label>
        </div>

        <div class="mb-3">
          <label class="form-label">Nombre del Grado</label>
          <input formControlName="nombre_grado" type="text" value="{{gradoIndividual.nombre_grado}}" class="form-control">
        </div>

        <div class="mb-3">
          <label for="">Secciones:</label>
          <select formControlName="idSeccion" class="form-select" aria-label="Default select example">
            <option selected>Selecciona...</option>
            <option *ngFor="let s of listaSecciones" value="{{s.idSeccion}}">{{s.seccion}}</option>
          </select>
          <label for="">Nivel Actual: <b>{{gradoIndividual.seccion}}</b></label>
        </div>

        <div>Grado Activo/Inactivo</div>
        <div class="form-check form-switch">
          <div *ngIf="gradoIndividual.estatus==1; else switchOff" >
            <input class="form-check-input" type="checkbox" (change)="selectedCheck($event)" role="switch" checked>
            <label class="form-check-label text-success" for="flexSwitchCheckChecked"><b>Activo</b></label>
          </div>
          <ng-template #switchOff>
            <input class="form-check-input" type="checkbox" (change)="noselectedCheck($event)" role="switch">
            <label class="form-check-label text-danger" for="flexSwitchCheckChecked"><b>Inactivo</b></label>
          </ng-template>
        </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
        <button type="submit" class="btn btn-primary" data-bs-dismiss="modal">Editar</button>
      </div>
    </form>
    </div>
  </div>
</div>

<!--modal Eliminar-->
<div class="modal fade" id="EliminarGradoModal" tabindex="-1">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Eliminar Docente</h5>
        <button type="button" #cerrarEliminarModal class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="alert alert-warning" role="alert">Si el Grado tiene asignados Alumnos o Profesores Guías, no se podrá eliminar, para ello asigne/elimine a los alumnos y profesores Guías <b>Esa acción de concretarse no se puede deshacer!</b></div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal" (click)="EliminarGrado(gradoIndividual.idGrado)"><i class="fa-solid fa-trash-can"></i> Eliminar</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal Crear-->
<div class="modal fade" id="AgregarGradoModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="staticBackdropLabel">Agregar Grado</h1>
        <button type="button" #cerrarCrearModal class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form class="row g-3" [formGroup]="gradoFormthis" (ngSubmit)="crearGrado()" autocomplete="off">
      <div class="modal-body">

        <div class="mb-3">
          <label for="">Nivel:</label>
          <select formControlName="idNivel" class="form-select" aria-label="Default select example" [ngClass]="{ 'is-invalid': submitted && f.idNivel.errors }">
            <option selected>Selecciona...</option>
            <option *ngFor="let n of nivelesGet" value="{{n.idNivel}}">{{n.nivel+', '+n.jornada}}</option>
          </select>
        </div>

        <div class="mb-3">
          <label class="form-label">Nombre del Grado</label>
          <input formControlName="nombre_grado" type="text" value="{{gradoIndividual.nombre_grado}}" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.nombre_grado.errors }">
        </div>

        <div class="mb-3">
          <label for="">Secciones:</label>
          <select formControlName="idSeccion" class="form-select" aria-label="Default select example" [ngClass]="{ 'is-invalid': submitted && f.idSeccion.errors }">
            <option selected>Selecciona...</option>
            <option *ngFor="let s of listaSecciones" value="{{s.idSeccion}}">{{s.seccion}}</option>
          </select>
        </div>

        <div>
          <div class="alert alert-secondary" role="alert">
            Los grados siempre se crearán activos!
          </div>
        </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
        <button type="submit" class="btn btn-primary">Crear</button>
      </div>
    </form>
    </div>
  </div>
</div>
<!--Modal Consolidado Final-->
<div class="modal fade" id="modalConsolidadoFinal" data-bs-backdrop="static" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-fullscreen">
    <div class="modal-content">
      <div id="NoPrint" class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Consolidado Final</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="vaciarVariablesFinal()"></button>
      </div>
      <div class="modal-body">
        <div id="areaImprimir">
          <div class="logodiv" style="float:left;">
            <img src="../../../assets/img/consolidadoLogo/logo.jpg">
          </div>
          <div class="encabezadodiv"><br>
          </div>
          <label for="" style="margin-left:40px;font-family: sans-serif;">Grado: <u>{{GradoSeccion[0].nombre_grado+', Sección: '+GradoSeccion[0].seccion+', Nivel: '+GradoSeccion[0].nivel+', Jornada: '+GradoSeccion[0].jornada}}</u><h5 id='bimes' style='font-size:16px;'>Cuadro de Promoción </h5></label><br><br><br>
        </div>
        <div *ngIf="sppinerOn3==true;else cargaSpinnerFinal">
          <app-loaderpeque></app-loaderpeque>
          <h4 class="text-center">Cargando información, por favor espere...</h4>
        </div>
        <ng-template #cargaSpinnerFinal>
          <table class="table">
            <thead>
              <th class="text-center">Alumno</th>
              <th *ngFor="let h of cursosFinal" class="text-center">{{h.nombre_curso}}</th>
              <th class="text-center">Promedio</th>
            </thead>
            <tbody>
              <ng-container *ngIf="CantidadCursosFinal==1">
                <tr *ngFor="let t of tabla">
                  <td class="text-center">{{t.alumno}}</td>
                  <td class="text-center">{{t.uno}}</td>
                  <td class="text-center">{{(t.uno)/1 | number: '1.0-0'}}</td>
                </tr>
              </ng-container>

              <ng-container *ngIf="CantidadCursosFinal==2">
                <tr *ngFor="let t of tabla">
                  <td class="text-center">{{t.alumno}}</td>
                  <td class="text-center">{{t.uno}}</td>
                  <td class="text-center">{{t.dos}}</td>
                  <td class="text-center">{{(t.uno+t.dos)/2 | number: '1.0-0'}}</td>
                </tr>
              </ng-container>

              <ng-container *ngIf="CantidadCursosFinal==3">
                <tr *ngFor="let t of tabla">
                  <td class="text-center">{{t.alumno}}</td>
                  <td class="text-center">{{t.uno}}</td>
                  <td class="text-center">{{t.dos}}</td>
                  <td class="text-center">{{t.tres}}</td>
                  <td class="text-center">{{(t.uno+t.dos+t.tres)/3 | number: '1.0-0'}}</td>
                </tr>
              </ng-container>

              <ng-container *ngIf="CantidadCursosFinal==4">
                <tr *ngFor="let t of tabla">
                  <td class="text-center">{{t.alumno}}</td>
                  <td class="text-center">{{t.uno}}</td>
                  <td class="text-center">{{t.dos}}</td>
                  <td class="text-center">{{t.tres}}</td>
                  <td class="text-center">{{t.cuatro}}</td>
                  <td class="text-center">{{(t.uno+t.dos+t.tres+t.cuatro)/4 | number: '1.0-0'}}</td>
                </tr>
              </ng-container>

              <ng-container *ngIf="CantidadCursosFinal==5">
                <tr *ngFor="let t of tabla">
                  <td class="text-center">{{t.alumno}}</td>
                  <td class="text-center">{{t.uno}}</td>
                  <td class="text-center">{{t.dos}}</td>
                  <td class="text-center">{{t.tres}}</td>
                  <td class="text-center">{{t.cuatro}}</td>
                  <td class="text-center">{{t.cinco}}</td>
                  <td class="text-center">{{(t.uno+t.dos+t.tres+t.cuatro+t.cinco)/5 | number: '1.0-0'}}</td>
                </tr>
              </ng-container>

              <ng-container *ngIf="CantidadCursosFinal==6">
                <tr *ngFor="let t of tabla">
                  <td class="text-center">{{t.alumno}}</td>
                  <td class="text-center">{{t.uno}}</td>
                  <td class="text-center">{{t.dos}}</td>
                  <td class="text-center">{{t.tres}}</td>
                  <td class="text-center">{{t.cuatro}}</td>
                  <td class="text-center">{{t.cinco}}</td>
                  <td class="text-center">{{t.seis}}</td>
                  <td class="text-center">{{(t.uno+t.dos+t.tres+t.cuatro+t.cinco+t.seis)/6 | number: '1.0-0'}}</td>
                </tr>
              </ng-container>

              <ng-container *ngIf="CantidadCursosFinal==7">
                <tr *ngFor="let t of tabla">
                  <td class="text-center">{{t.alumno}}</td>
                  <td class="text-center">{{t.uno}}</td>
                  <td class="text-center">{{t.dos}}</td>
                  <td class="text-center">{{t.tres}}</td>
                  <td class="text-center">{{t.cuatro}}</td>
                  <td class="text-center">{{t.cinco}}</td>
                  <td class="text-center">{{t.seis}}</td>
                  <td class="text-center">{{t.siete}}</td>
                  <td class="text-center">{{(t.uno+t.dos+t.tres+t.cuatro+t.cinco+t.seis+t.siete)/7 | number: '1.0-0'}}</td>
                </tr>
              </ng-container>

              <ng-container *ngIf="CantidadCursosFinal==8">
                <tr *ngFor="let t of tabla">
                  <td class="text-center">{{t.alumno}}</td>
                  <td class="text-center">{{t.uno}}</td>
                  <td class="text-center">{{t.dos}}</td>
                  <td class="text-center">{{t.tres}}</td>
                  <td class="text-center">{{t.cuatro}}</td>
                  <td class="text-center">{{t.cinco}}</td>
                  <td class="text-center">{{t.seis}}</td>
                  <td class="text-center">{{t.siete}}</td>
                  <td class="text-center">{{t.ocho}}</td>
                  <td class="text-center">{{(t.uno+t.dos+t.tres+t.cuatro+t.cinco+t.seis+t.siete+t.ocho)/8 | number: '1.0-0'}}</td>
                </tr>
              </ng-container>

              <ng-container *ngIf="CantidadCursosFinal==9">
                <tr *ngFor="let t of tabla">
                  <td class="text-center">{{t.alumno}}</td>
                  <td class="text-center">{{t.uno}}</td>
                  <td class="text-center">{{t.dos}}</td>
                  <td class="text-center">{{t.tres}}</td>
                  <td class="text-center">{{t.cuatro}}</td>
                  <td class="text-center">{{t.cinco}}</td>
                  <td class="text-center">{{t.seis}}</td>
                  <td class="text-center">{{t.siete}}</td>
                  <td class="text-center">{{t.ocho}}</td>
                  <td class="text-center">{{t.nueve}}</td>
                  <td class="text-center">{{(t.uno+t.dos+t.tres+t.cuatro+t.cinco+t.seis+t.siete+t.ocho+t.nueve)/9 | number: '1.0-0'}}</td>
                </tr>
              </ng-container>

              <ng-container *ngIf="CantidadCursosFinal==10">
                <tr *ngFor="let t of tabla">
                  <td class="text-center">{{t.alumno}}</td>
                  <td class="text-center">{{t.uno}}</td>
                  <td class="text-center">{{t.dos}}</td>
                  <td class="text-center">{{t.tres}}</td>
                  <td class="text-center">{{t.cuatro}}</td>
                  <td class="text-center">{{t.cinco}}</td>
                  <td class="text-center">{{t.seis}}</td>
                  <td class="text-center">{{t.siete}}</td>
                  <td class="text-center">{{t.ocho}}</td>
                  <td class="text-center">{{t.nueve}}</td>
                  <td class="text-center">{{t.diez}}</td>
                  <td class="text-center">{{(t.uno+t.dos+t.tres+t.cuatro+t.cinco+t.seis+t.siete+t.ocho+t.nueve+t.diez)/10 | number: '1.0-0'}}</td>
                </tr>
              </ng-container>

              <ng-container *ngIf="CantidadCursosFinal==11">
                <tr *ngFor="let t of tabla">
                  <td class="text-center">{{t.alumno}}</td>
                  <td class="text-center">{{t.uno}}</td>
                  <td class="text-center">{{t.dos}}</td>
                  <td class="text-center">{{t.tres}}</td>
                  <td class="text-center">{{t.cuatro}}</td>
                  <td class="text-center">{{t.cinco}}</td>
                  <td class="text-center">{{t.seis}}</td>
                  <td class="text-center">{{t.siete}}</td>
                  <td class="text-center">{{t.ocho}}</td>
                  <td class="text-center">{{t.nueve}}</td>
                  <td class="text-center">{{t.diez}}</td>
                  <td class="text-center">{{t.once}}</td>
                  <td class="text-center">{{(t.uno+t.dos+t.tres+t.cuatro+t.cinco+t.seis+t.siete+t.ocho+t.nueve+t.diez+t.once)/11 | number: '1.0-0'}}</td>
                </tr>
              </ng-container>

              <ng-container *ngIf="CantidadCursosFinal==12">
                <tr *ngFor="let t of tabla">
                  <td class="text-center">{{t.alumno}}</td>
                  <td class="text-center">{{t.uno}}</td>
                  <td class="text-center">{{t.dos}}</td>
                  <td class="text-center">{{t.tres}}</td>
                  <td class="text-center">{{t.cuatro}}</td>
                  <td class="text-center">{{t.cinco}}</td>
                  <td class="text-center">{{t.seis}}</td>
                  <td class="text-center">{{t.siete}}</td>
                  <td class="text-center">{{t.ocho}}</td>
                  <td class="text-center">{{t.nueve}}</td>
                  <td class="text-center">{{t.diez}}</td>
                  <td class="text-center">{{t.once}}</td>
                  <td class="text-center">{{t.doce}}</td>
                  <td class="text-center">{{((t.uno+t.dos+t.tres+t.cuatro+t.cinco+t.seis+t.siete+t.ocho+t.nueve+t.diez+t.once+t.doce)/12) | number: '1.0-0'}}</td>
                </tr>
              </ng-container>

              <ng-container *ngIf="CantidadCursosFinal==13">
                <tr *ngFor="let t of tabla">
                  <td class="text-center">{{t.alumno}}</td>
                  <td class="text-center">{{t.uno}}</td>
                  <td class="text-center">{{t.dos}}</td>
                  <td class="text-center">{{t.tres}}</td>
                  <td class="text-center">{{t.cuatro}}</td>
                  <td class="text-center">{{t.cinco}}</td>
                  <td class="text-center">{{t.seis}}</td>
                  <td class="text-center">{{t.siete}}</td>
                  <td class="text-center">{{t.ocho}}</td>
                  <td class="text-center">{{t.nueve}}</td>
                  <td class="text-center">{{t.diez}}</td>
                  <td class="text-center">{{t.once}}</td>
                  <td class="text-center">{{t.doce}}</td>
                  <td class="text-center">{{t.trece}}</td>
                  <td class="text-center">{{(t.uno+t.dos+t.tres+t.cuatro+t.cinco+t.seis+t.siete+t.ocho+t.nueve+t.diez+t.once+t.doce+t.trece)/13 | number: '1.0-0'}}</td>
                </tr>
              </ng-container>

              <ng-container *ngIf="CantidadCursosFinal==14">
                <tr *ngFor="let t of tabla">
                  <td class="text-center">{{t.alumno}}</td>
                  <td class="text-center">{{t.uno}}</td>
                  <td class="text-center">{{t.dos}}</td>
                  <td class="text-center">{{t.tres}}</td>
                  <td class="text-center">{{t.cuatro}}</td>
                  <td class="text-center">{{t.cinco}}</td>
                  <td class="text-center">{{t.seis}}</td>
                  <td class="text-center">{{t.siete}}</td>
                  <td class="text-center">{{t.ocho}}</td>
                  <td class="text-center">{{t.nueve}}</td>
                  <td class="text-center">{{t.diez}}</td>
                  <td class="text-center">{{t.once}}</td>
                  <td class="text-center">{{t.doce}}</td>
                  <td class="text-center">{{t.trece}}</td>
                  <td class="text-center">{{t.catorce}}</td>
                  <td class="text-center">{{(t.uno+t.dos+t.tres+t.cuatro+t.cinco+t.seis+t.siete+t.ocho+t.nueve+t.diez+t.once+t.doce+t.trece+t.catorce)/14 | number: '1.0-0'}}</td>
                </tr>
              </ng-container>

              <ng-container *ngIf="CantidadCursosFinal==15">
                <tr *ngFor="let t of tabla">
                  <td class="text-center">{{t.alumno}}</td>
                  <td class="text-center">{{t.uno}}</td>
                  <td class="text-center">{{t.dos}}</td>
                  <td class="text-center">{{t.tres}}</td>
                  <td class="text-center">{{t.cuatro}}</td>
                  <td class="text-center">{{t.cinco}}</td>
                  <td class="text-center">{{t.seis}}</td>
                  <td class="text-center">{{t.siete}}</td>
                  <td class="text-center">{{t.ocho}}</td>
                  <td class="text-center">{{t.nueve}}</td>
                  <td class="text-center">{{t.diez}}</td>
                  <td class="text-center">{{t.once}}</td>
                  <td class="text-center">{{t.doce}}</td>
                  <td class="text-center">{{t.trece}}</td>
                  <td class="text-center">{{t.catorce}}</td>
                  <td class="text-center">{{t.quince}}</td>
                  <td class="text-center">{{(t.uno+t.dos+t.tres+t.cuatro+t.cinco+t.seis+t.siete+t.ocho+t.nueve+t.diez+t.once+t.doce+t.trece+t.catorce+t.quince)/15 | number: '1.0-0'}}</td>
                </tr>
              </ng-container>

              <ng-container *ngIf="CantidadCursosFinal==16">
                <tr *ngFor="let t of tabla">
                  <td class="text-center">{{t.alumno}}</td>
                  <td class="text-center">{{t.uno}}</td>
                  <td class="text-center">{{t.dos}}</td>
                  <td class="text-center">{{t.tres}}</td>
                  <td class="text-center">{{t.cuatro}}</td>
                  <td class="text-center">{{t.cinco}}</td>
                  <td class="text-center">{{t.seis}}</td>
                  <td class="text-center">{{t.siete}}</td>
                  <td class="text-center">{{t.ocho}}</td>
                  <td class="text-center">{{t.nueve}}</td>
                  <td class="text-center">{{t.diez}}</td>
                  <td class="text-center">{{t.once}}</td>
                  <td class="text-center">{{t.doce}}</td>
                  <td class="text-center">{{t.trece}}</td>
                  <td class="text-center">{{t.catorce}}</td>
                  <td class="text-center">{{t.quince}}</td>
                  <td class="text-center">{{t.dieciseis}}</td>
                  <td class="text-center">{{(t.uno+t.dos+t.tres+t.cuatro+t.cinco+t.seis+t.siete+t.ocho+t.nueve+t.diez+t.once+t.doce+t.trece+t.catorce+t.quince+t.dieciseis)/16 | number: '1.0-0'}}</td>
                </tr>
              </ng-container>

              <ng-container *ngIf="CantidadCursosFinal==17">
                <tr *ngFor="let t of tabla">
                  <td class="text-center">{{t.alumno}}</td>
                  <td class="text-center">{{t.uno}}</td>
                  <td class="text-center">{{t.dos}}</td>
                  <td class="text-center">{{t.tres}}</td>
                  <td class="text-center">{{t.cuatro}}</td>
                  <td class="text-center">{{t.cinco}}</td>
                  <td class="text-center">{{t.seis}}</td>
                  <td class="text-center">{{t.siete}}</td>
                  <td class="text-center">{{t.ocho}}</td>
                  <td class="text-center">{{t.nueve}}</td>
                  <td class="text-center">{{t.diez}}</td>
                  <td class="text-center">{{t.once}}</td>
                  <td class="text-center">{{t.doce}}</td>
                  <td class="text-center">{{t.trece}}</td>
                  <td class="text-center">{{t.catorce}}</td>
                  <td class="text-center">{{t.quince}}</td>
                  <td class="text-center">{{t.dieciseis}}</td>
                  <td class="text-center">{{t.diecisiete}}</td>
                  <td class="text-center">{{(t.uno+t.dos+t.tres+t.cuatro+t.cinco+t.seis+t.siete+t.ocho+t.nueve+t.diez+t.once+t.doce+t.trece+t.catorce+t.quince+t.dieciseis+t.diecisiete)/17 | number: '1.0-0'}}</td>
                </tr>
              </ng-container>

              <ng-container *ngIf="CantidadCursosFinal==18">
                <tr *ngFor="let t of tabla">
                  <td class="text-center">{{t.alumno}}</td>
                  <td class="text-center">{{t.uno}}</td>
                  <td class="text-center">{{t.dos}}</td>
                  <td class="text-center">{{t.tres}}</td>
                  <td class="text-center">{{t.cuatro}}</td>
                  <td class="text-center">{{t.cinco}}</td>
                  <td class="text-center">{{t.seis}}</td>
                  <td class="text-center">{{t.siete}}</td>
                  <td class="text-center">{{t.ocho}}</td>
                  <td class="text-center">{{t.nueve}}</td>
                  <td class="text-center">{{t.diez}}</td>
                  <td class="text-center">{{t.once}}</td>
                  <td class="text-center">{{t.doce}}</td>
                  <td class="text-center">{{t.trece}}</td>
                  <td class="text-center">{{t.catorce}}</td>
                  <td class="text-center">{{t.quince}}</td>
                  <td class="text-center">{{t.dieciseis}}</td>
                  <td class="text-center">{{t.diecisiete}}</td>
                  <td class="text-center">{{t.dieciocho}}</td>
                  <td class="text-center">{{(t.uno+t.dos+t.tres+t.cuatro+t.cinco+t.seis+t.siete+t.ocho+t.nueve+t.diez+t.once+t.doce+t.trece+t.catorce+t.quince+t.dieciseis+t.diecisiete+t.dieciocho)/18 | number: '1.0-0'}}</td>
                </tr>
              </ng-container>

              <ng-container *ngIf="CantidadCursosFinal==19">
                <tr *ngFor="let t of tabla">
                  <td class="text-center">{{t.alumno}}</td>
                  <td class="text-center">{{t.uno}}</td>
                  <td class="text-center">{{t.dos}}</td>
                  <td class="text-center">{{t.tres}}</td>
                  <td class="text-center">{{t.cuatro}}</td>
                  <td class="text-center">{{t.cinco}}</td>
                  <td class="text-center">{{t.seis}}</td>
                  <td class="text-center">{{t.siete}}</td>
                  <td class="text-center">{{t.ocho}}</td>
                  <td class="text-center">{{t.nueve}}</td>
                  <td class="text-center">{{t.diez}}</td>
                  <td class="text-center">{{t.once}}</td>
                  <td class="text-center">{{t.doce}}</td>
                  <td class="text-center">{{t.trece}}</td>
                  <td class="text-center">{{t.catorce}}</td>
                  <td class="text-center">{{t.quince}}</td>
                  <td class="text-center">{{t.dieciseis}}</td>
                  <td class="text-center">{{t.diecisiete}}</td>
                  <td class="text-center">{{t.dieciocho}}</td>
                  <td class="text-center">{{t.diecinueve}}</td>
                  <td class="text-center">{{(t.uno+t.dos+t.tres+t.cuatro+t.cinco+t.seis+t.siete+t.ocho+t.nueve+t.diez+t.once+t.doce+t.trece+t.catorce+t.quince+t.dieciseis+t.diecisiete+t.dieciocho+t.diecinueve)/19 | number: '1.0-0'}}</td>
                </tr>
              </ng-container>

              <ng-container *ngIf="CantidadCursosFinal==20">
                <tr *ngFor="let t of tabla">
                  <td class="text-center">{{t.alumno}}</td>
                  <td class="text-center">{{t.uno}}</td>
                  <td class="text-center">{{t.dos}}</td>
                  <td class="text-center">{{t.tres}}</td>
                  <td class="text-center">{{t.cuatro}}</td>
                  <td class="text-center">{{t.cinco}}</td>
                  <td class="text-center">{{t.seis}}</td>
                  <td class="text-center">{{t.siete}}</td>
                  <td class="text-center">{{t.ocho}}</td>
                  <td class="text-center">{{t.nueve}}</td>
                  <td class="text-center">{{t.diez}}</td>
                  <td class="text-center">{{t.once}}</td>
                  <td class="text-center">{{t.doce}}</td>
                  <td class="text-center">{{t.trece}}</td>
                  <td class="text-center">{{t.catorce}}</td>
                  <td class="text-center">{{t.quince}}</td>
                  <td class="text-center">{{t.dieciseis}}</td>
                  <td class="text-center">{{t.diecisiete}}</td>
                  <td class="text-center">{{t.dieciocho}}</td>
                  <td class="text-center">{{t.diecinueve}}</td>
                  <td class="text-center">{{t.veinte}}</td>
                  <td class="text-center">{{(t.uno+t.dos+t.tres+t.cuatro+t.cinco+t.seis+t.siete+t.ocho+t.nueve+t.diez+t.once+t.doce+t.trece+t.catorce+t.quince+t.dieciseis+t.diecisiete+t.dieciocho+t.diecinueve+t.veinte)/20 | number: '1.0-0'}}</td>
                </tr>
              </ng-container>

            </tbody>
          </table>
        </ng-template>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="vaciarVariablesFinal()">Cerrar</button>
      </div>
    </div>
  </div>
</div>
<!--Modal Consolidado Bimestral-->
<div class="modal fade" id="modalConsolidadoBimestral" data-bs-backdrop="static" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-fullscreen">
    <div class="modal-content">
      <div id="NoPrint" class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Consolidado Bimestral</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="vaciarVariablesBimestral()"></button>
      </div>
      <div class="modal-body">
        <div id="NoPrint">
          <form [formGroup]="buscarBimestre" (ngSubmit)="consolidadoBuscar()">
            <br>
            <label for="cmb_unidad" style="float:left;">Seleccione una opción:  </label>
            <select formControlName="bimestre" [class]="errorLogininputs">
                <option value="0">Seleccione un Bimestre</option>
                <option value="1">Primer Bimestre</option>
                <option value="2">Segundo Bimestre</option>
                <option value="3">Tercer Bimestre</option>
                <option value="4">Cuarto Bimestre</option>
            </select>
            <div class="text-end">
              <button type="submit" class="btn btn-primary"><i class="fas fa-search"></i> Buscar</button>
            </div>
          </form>
          </div>

          <hr>
          <div id="areaImprimir">
            <div class="logodiv" style="float:left;">
              <img src="../../../assets/img/consolidadoLogo/logo.jpg">
            </div>

            <div class="encabezadodiv"><br>
            </div>
            <label for="" style="margin-left:40px;font-family: sans-serif;">Grado: <u>{{GradoSeccion[0].nombre_grado+', Sección: '+GradoSeccion[0].seccion+', Nivel: '+GradoSeccion[0].nivel+', Jornada: '+GradoSeccion[0].jornada}}</u><h5 id='bimes' style='font-size:16px;'>Cuadro Guía - {{bimestreSeleccionado}} </h5></label><br><br><br>
            <div *ngIf="sppinerOn2==true;else cargaSpinnerBimestral">
              <app-loaderpeque></app-loaderpeque>
              <h4 class="text-center">Cargando información, por favor espere...</h4>
            </div>
            <ng-template #cargaSpinnerBimestral>
              <table class="table">
                <thead>
                  <th class="text-center">Alumno</th>
                  <th *ngFor="let c of cursos" class="text-center">{{c.nombre_curso}}</th>
                  <th class="text-center">Promedio</th>
                </thead>
                <tbody>
                  <ng-container *ngIf="CantidadCursos==1">
                    <tr *ngFor="let n of tabla">
                      <td class="text-center">{{n.alumno}}</td>
                      <td class="text-center">{{n.uno}}</td>
                      <td class="text-center">{{n.promedio}}</td>
                    </tr>
                  </ng-container>

                  <ng-container *ngIf="CantidadCursos==2">
                    <tr *ngFor="let n of tabla">
                      <td class="text-center">{{n.alumno}}</td>
                      <td class="text-center">{{n.uno}}</td>
                      <td class="text-center">{{n.dos}}</td>
                      <td class="text-center">{{n.promedio}}</td>
                    </tr>
                  </ng-container>

                  <ng-container *ngIf="CantidadCursos==3">
                    <tr *ngFor="let n of tabla">
                      <td class="text-center">{{n.alumno}}</td>
                      <td class="text-center">{{n.uno}}</td>
                      <td class="text-center">{{n.dos}}</td>
                      <td class="text-center">{{n.tres}}</td>
                      <td class="text-center">{{n.promedio}}</td>
                    </tr>
                  </ng-container>

                  <ng-container *ngIf="CantidadCursos==4">
                    <tr *ngFor="let n of tabla">
                      <td class="text-center">{{n.alumno}}</td>
                      <td class="text-center">{{n.uno}}</td>
                      <td class="text-center">{{n.dos}}</td>
                      <td class="text-center">{{n.tres}}</td>
                      <td class="text-center">{{n.cuatro}}</td>
                      <td class="text-center">{{n.promedio}}</td>
                    </tr>
                  </ng-container>

                  <ng-container *ngIf="CantidadCursos==5">
                    <tr *ngFor="let n of tabla">
                      <td class="text-center">{{n.alumno}}</td>
                      <td class="text-center">{{n.uno}}</td>
                      <td class="text-center">{{n.dos}}</td>
                      <td class="text-center">{{n.tres}}</td>
                      <td class="text-center">{{n.cuatro}}</td>
                      <td class="text-center">{{n.cinco}}</td>
                      <td class="text-center">{{n.promedio}}</td>
                    </tr>
                  </ng-container>

                  <ng-container *ngIf="CantidadCursos==6">
                    <tr *ngFor="let n of tabla">
                      <td class="text-center">{{n.alumno}}</td>
                      <td class="text-center">{{n.uno}}</td>
                      <td class="text-center">{{n.dos}}</td>
                      <td class="text-center">{{n.tres}}</td>
                      <td class="text-center">{{n.cuatro}}</td>
                      <td class="text-center">{{n.cinco}}</td>
                      <td class="text-center">{{n.seis}}</td>
                      <td class="text-center">{{n.promedio}}</td>
                    </tr>
                  </ng-container>

                  <ng-container *ngIf="CantidadCursos==7">
                    <tr *ngFor="let n of tabla">
                      <td class="text-center">{{n.alumno}}</td>
                      <td class="text-center">{{n.uno}}</td>
                      <td class="text-center">{{n.dos}}</td>
                      <td class="text-center">{{n.tres}}</td>
                      <td class="text-center">{{n.cuatro}}</td>
                      <td class="text-center">{{n.cinco}}</td>
                      <td class="text-center">{{n.seis}}</td>
                      <td class="text-center">{{n.siete}}</td>
                      <td class="text-center">{{n.promedio}}</td>
                    </tr>
                  </ng-container>

                  <ng-container *ngIf="CantidadCursos==8">
                    <tr *ngFor="let n of tabla">
                      <td class="text-center">{{n.alumno}}</td>
                      <td class="text-center">{{n.uno}}</td>
                      <td class="text-center">{{n.dos}}</td>
                      <td class="text-center">{{n.tres}}</td>
                      <td class="text-center">{{n.cuatro}}</td>
                      <td class="text-center">{{n.cinco}}</td>
                      <td class="text-center">{{n.seis}}</td>
                      <td class="text-center">{{n.siete}}</td>
                      <td class="text-center">{{n.ocho}}</td>
                      <td class="text-center">{{n.promedio}}</td>
                    </tr>
                  </ng-container>

                  <ng-container *ngIf="CantidadCursos==9">
                    <tr *ngFor="let n of tabla">
                      <td class="text-center">{{n.alumno}}</td>
                      <td class="text-center">{{n.uno}}</td>
                      <td class="text-center">{{n.dos}}</td>
                      <td class="text-center">{{n.tres}}</td>
                      <td class="text-center">{{n.cuatro}}</td>
                      <td class="text-center">{{n.cinco}}</td>
                      <td class="text-center">{{n.seis}}</td>
                      <td class="text-center">{{n.siete}}</td>
                      <td class="text-center">{{n.ocho}}</td>
                      <td class="text-center">{{n.nueve}}</td>
                      <td class="text-center">{{n.promedio}}</td>
                    </tr>
                  </ng-container>

                  <ng-container *ngIf="CantidadCursos==10">
                    <tr *ngFor="let n of tabla">
                      <td class="text-center">{{n.alumno}}</td>
                      <td class="text-center">{{n.uno}}</td>
                      <td class="text-center">{{n.dos}}</td>
                      <td class="text-center">{{n.tres}}</td>
                      <td class="text-center">{{n.cuatro}}</td>
                      <td class="text-center">{{n.cinco}}</td>
                      <td class="text-center">{{n.seis}}</td>
                      <td class="text-center">{{n.siete}}</td>
                      <td class="text-center">{{n.ocho}}</td>
                      <td class="text-center">{{n.nueve}}</td>
                      <td class="text-center">{{n.diez}}</td>
                      <td class="text-center">{{n.promedio}}</td>
                    </tr>
                  </ng-container>

                  <ng-container *ngIf="CantidadCursos==11">
                    <tr *ngFor="let n of tabla">
                      <td class="text-center">{{n.alumno}}</td>
                      <td class="text-center">{{n.uno}}</td>
                      <td class="text-center">{{n.dos}}</td>
                      <td class="text-center">{{n.tres}}</td>
                      <td class="text-center">{{n.cuatro}}</td>
                      <td class="text-center">{{n.cinco}}</td>
                      <td class="text-center">{{n.seis}}</td>
                      <td class="text-center">{{n.siete}}</td>
                      <td class="text-center">{{n.ocho}}</td>
                      <td class="text-center">{{n.nueve}}</td>
                      <td class="text-center">{{n.diez}}</td>
                      <td class="text-center">{{n.once}}</td>
                      <td class="text-center">{{n.promedio}}</td>
                    </tr>
                  </ng-container>

                  <ng-container *ngIf="CantidadCursos==12">
                    <tr *ngFor="let n of tabla">
                      <td class="text-center">{{n.alumno}}</td>
                      <td class="text-center">{{n.uno}}</td>
                      <td class="text-center">{{n.dos}}</td>
                      <td class="text-center">{{n.tres}}</td>
                      <td class="text-center">{{n.cuatro}}</td>
                      <td class="text-center">{{n.cinco}}</td>
                      <td class="text-center">{{n.seis}}</td>
                      <td class="text-center">{{n.siete}}</td>
                      <td class="text-center">{{n.ocho}}</td>
                      <td class="text-center">{{n.nueve}}</td>
                      <td class="text-center">{{n.diez}}</td>
                      <td class="text-center">{{n.once}}</td>
                      <td class="text-center">{{n.doce}}</td>
                      <td class="text-center">{{n.promedio}}</td>
                    </tr>
                  </ng-container>

                  <ng-container *ngIf="CantidadCursos==13">
                    <tr *ngFor="let n of tabla">
                      <td class="text-center">{{n.alumno}}</td>
                      <td class="text-center">{{n.uno}}</td>
                      <td class="text-center">{{n.dos}}</td>
                      <td class="text-center">{{n.tres}}</td>
                      <td class="text-center">{{n.cuatro}}</td>
                      <td class="text-center">{{n.cinco}}</td>
                      <td class="text-center">{{n.seis}}</td>
                      <td class="text-center">{{n.siete}}</td>
                      <td class="text-center">{{n.ocho}}</td>
                      <td class="text-center">{{n.nueve}}</td>
                      <td class="text-center">{{n.diez}}</td>
                      <td class="text-center">{{n.once}}</td>
                      <td class="text-center">{{n.doce}}</td>
                      <td class="text-center">{{n.trece}}</td>
                      <td class="text-center">{{n.promedio}}</td>
                    </tr>
                  </ng-container>

                  <ng-container *ngIf="CantidadCursos==14">
                    <tr *ngFor="let n of tabla">
                      <td class="text-center">{{n.alumno}}</td>
                      <td class="text-center">{{n.uno}}</td>
                      <td class="text-center">{{n.dos}}</td>
                      <td class="text-center">{{n.tres}}</td>
                      <td class="text-center">{{n.cuatro}}</td>
                      <td class="text-center">{{n.cinco}}</td>
                      <td class="text-center">{{n.seis}}</td>
                      <td class="text-center">{{n.siete}}</td>
                      <td class="text-center">{{n.ocho}}</td>
                      <td class="text-center">{{n.nueve}}</td>
                      <td class="text-center">{{n.diez}}</td>
                      <td class="text-center">{{n.once}}</td>
                      <td class="text-center">{{n.doce}}</td>
                      <td class="text-center">{{n.trece}}</td>
                      <td class="text-center">{{n.catorce}}</td>
                      <td class="text-center">{{n.promedio}}</td>
                    </tr>
                  </ng-container>

                  <ng-container *ngIf="CantidadCursos==15">
                    <tr *ngFor="let n of tabla">
                      <td class="text-center">{{n.alumno}}</td>
                      <td class="text-center">{{n.uno}}</td>
                      <td class="text-center">{{n.dos}}</td>
                      <td class="text-center">{{n.tres}}</td>
                      <td class="text-center">{{n.cuatro}}</td>
                      <td class="text-center">{{n.cinco}}</td>
                      <td class="text-center">{{n.seis}}</td>
                      <td class="text-center">{{n.siete}}</td>
                      <td class="text-center">{{n.ocho}}</td>
                      <td class="text-center">{{n.nueve}}</td>
                      <td class="text-center">{{n.diez}}</td>
                      <td class="text-center">{{n.once}}</td>
                      <td class="text-center">{{n.doce}}</td>
                      <td class="text-center">{{n.trece}}</td>
                      <td class="text-center">{{n.catorce}}</td>
                      <td class="text-center">{{n.quince}}</td>
                      <td class="text-center">{{n.promedio}}</td>
                    </tr>
                  </ng-container>

                  <ng-container *ngIf="CantidadCursos==16">
                    <tr *ngFor="let n of tabla">
                      <td class="text-center">{{n.alumno}}</td>
                      <td class="text-center">{{n.uno}}</td>
                      <td class="text-center">{{n.dos}}</td>
                      <td class="text-center">{{n.tres}}</td>
                      <td class="text-center">{{n.cuatro}}</td>
                      <td class="text-center">{{n.cinco}}</td>
                      <td class="text-center">{{n.seis}}</td>
                      <td class="text-center">{{n.siete}}</td>
                      <td class="text-center">{{n.ocho}}</td>
                      <td class="text-center">{{n.nueve}}</td>
                      <td class="text-center">{{n.diez}}</td>
                      <td class="text-center">{{n.once}}</td>
                      <td class="text-center">{{n.doce}}</td>
                      <td class="text-center">{{n.trece}}</td>
                      <td class="text-center">{{n.catorce}}</td>
                      <td class="text-center">{{n.quince}}</td>
                      <td class="text-center">{{n.dieciseis}}</td>
                      <td class="text-center">{{n.promedio}}</td>
                    </tr>
                  </ng-container>

                  <ng-container *ngIf="CantidadCursos==17">
                    <tr *ngFor="let n of tabla">
                      <td class="text-center">{{n.alumno}}</td>
                      <td class="text-center">{{n.uno}}</td>
                      <td class="text-center">{{n.dos}}</td>
                      <td class="text-center">{{n.tres}}</td>
                      <td class="text-center">{{n.cuatro}}</td>
                      <td class="text-center">{{n.cinco}}</td>
                      <td class="text-center">{{n.seis}}</td>
                      <td class="text-center">{{n.siete}}</td>
                      <td class="text-center">{{n.ocho}}</td>
                      <td class="text-center">{{n.nueve}}</td>
                      <td class="text-center">{{n.diez}}</td>
                      <td class="text-center">{{n.once}}</td>
                      <td class="text-center">{{n.doce}}</td>
                      <td class="text-center">{{n.trece}}</td>
                      <td class="text-center">{{n.catorce}}</td>
                      <td class="text-center">{{n.quince}}</td>
                      <td class="text-center">{{n.dieciseis}}</td>
                      <td class="text-center">{{n.diecisiete}}</td>
                      <td class="text-center">{{n.promedio}}</td>
                    </tr>
                  </ng-container>

                </tbody>
              </table>
            </ng-template>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="vaciarVariablesBimestral()">Cerrar</button>
      </div>
    </div>
  </div>
</div>
