<full-calendar [options]="calendarOptions"  [events]="Events"></full-calendar>
<!--
<div>
  <h4 class="card-title" >Colores de actividad por curso</h4>
  <div *ngIf="Cursos!='';else tablaVaciaC">
  <div class="row" >
    <div class="col-xxl-4 col-md-6 mb-3" *ngFor="let c of Cursos" >
      <div>
              <div class="text-center rounded-pill pt-2 pb-2 p-2"[ngStyle]="{'background-color': c.color_curso}">{{c.nombre_curso}}: <br>{{c.grado}}</div>
      </div>
    </div>
  </div>
</div>
  <ng-template #tablaVaciaC>
    <div class="alert alert-warning" role="alert">
      Sin registros, no tiene ningún curso asignado aún...
    </div>
  </ng-template>
</div>
-->