<main id="main" class="main">
  <div class="pagetitle">
     <h1>Matemática</h1>
     <nav>
      <ol class="breadcrumb">
         <li class="breadcrumb-item active">Profesor: Pececito Ahogado</li>
      </ol>
   </nav>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="card">
         <div class="card-body">
          <div class="d-flex">
            <h5 class="card-title">Karins Apellido</h5>
          </div>
          <div class="tab-content pt-2" id="myTabjustifiedContent">
            <div class="activity">
              Aquí van las calificaciones del curso
          </div>
          </div>
         </div>
      </div>
    </div>
  </div>
</main>

