<main id="main" class="main">
  <div class="pagetitle">
     <h1>Matemática</h1>
     <nav>
      <ol class="breadcrumb">
         <li class="breadcrumb-item active">Profesor: Pececito Ahogado "Estas consultas del profesor y el curso tambíen faltan"</li>
      </ol>
   </nav>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="card">
         <div class="card-body">
          <div class="d-flex">
            <h5 class="card-title">Karins Apellido "Falta consulta Tutor->Alumno"</h5>
          </div>
          <div class="tab-content pt-2" id="myTabjustifiedContent">
            <div class="activity">
              <div style="overflow-x: auto;">
                <table class="table table-striped">
                  <thead>
                     <tr>
                        <th scope="col" class="text-center">Actividad</th>
                        <th scope="col" class="text-center">Tema</th>
                        <th scope="col" class="text-center">Entrega</th>
                        <th scope="col" class="text-center">Punteo</th>
                     </tr>
                  </thead>
                  <tbody>
                     <tr>
                        <td align="center">Examen/Tarea/Foro</td>
                        <td align="center">Nombre del ____</td>
                        <td align="center">Si</td>
                        <td align="center">10</td>
                     </tr>
                     <tr>
                        <td align="center">Examen/Tarea/Foro</td>
                        <td align="center">Nombre del ____</td>
                        <td align="center">No</td>
                        <td align="center">0</td>
                     </tr>
                  </tbody>
               </table>
              </div>
              <div style="overflow-x: auto;">
                <table class="table table-striped">
                  <thead>
                     <tr>
                        <th scope="col" style="text-align: right">Total</th>
                     </tr>
                  </thead>
                  <tbody>
                     <tr>
                        <td align="right">10/100</td>
                     </tr>
                  </tbody>
               </table>
              </div>
          </div>
          </div>
         </div>
      </div>
    </div>
  </div>
</main>

