<div>
  <div style="overflow-x: auto;">
    <table class="table">
      <thead style="border-color: white;">
         <tr>
            <td scope="col" class="text-center ">RENAS:</td>
            <td scope="col" class="text-center ">Antecedentes Penales:</td>
            <td scope="col" class="text-center ">Antecedentes Policíacos:</td>
         </tr>
      </thead>
      <tbody style="border-color: white;">
         <tr>
            <td align="center">
              <button class="btn btn-info rounded-pill"><i class="fa-solid fa-file" style="color: white;"></i></button>
            </td>
            <td align="center">
              <button class="btn btn-info rounded-pill"><i class="fa-solid fa-file" style="color: white;"></i></button>
            </td>
            <td align="center">
              <button class="btn btn-info rounded-pill"><i class="fa-solid fa-file" style="color: white;"></i></button>
            </td>
         </tr>
      </tbody>
   </table>
  </div>
  <hr>
  <div class="text-center">
    <button type="submit" class="btn btn-primary">Subir Archivos</button>
  </div>
</div>
