<li class="nav-item"> <h6 class="card-title"><a [style]="{'background-color': cnavbar2, 'color': ctexto2}" routerLink="dashboard" class="nav-link collapsed"> <i class="fa-solid fa-house"></i> Inicio </a></h6></li>
<li class="nav-item"> <h6 class="card-title"><a [style]="{'background-color': cnavbar2, 'color': ctexto2}" routerLink="calendario" class="nav-link collapsed"> <i class="fa-solid fa-calendar-week"></i> Calendario </a></h6></li>
<li class="nav-item"> <h6 class="card-title"><a [style]="{'background-color': cnavbar2, 'color': ctexto2}" routerLink="calificaciones" class="nav-link collapsed"> <i class="fa-solid fa-graduation-cap"></i> Calificaciones </a></h6></li>
<li class="nav-item"> <h6 class="card-title"> <a [style]="{'background-color': cnavbar2, 'color': ctexto2}"routerLink="tutorial" class="nav-link collapsed disabled"><i class="fa-solid fa-shoe-prints"></i> Tutorial </a></h6></li>

<!--
     <li class="nav-heading">Ver actividades de cursos</li>
     <li class="nav-item"> <a class="nav-link collapsed" routerLink="foro"> <i class="fa-solid fa-book-open-reader"></i> <span>Foro</span> </a></li>
     <li class="nav-item"> <a class="nav-link collapsed" routerLink="examen"> <i class="fa-solid fa-book-open-reader"></i> <span>Examen</span> </a></li>
     <li class="nav-item"> <a class="nav-link collapsed" routerLink="actividad"> <i class="fa-solid fa-book-open-reader"></i> <span>Actividad</span> </a></li>

    Menu que se tiene que ocultar cuando el routing cambie de direccion
     <div *ngIf="Hola=='a'">
      <hr>

      <li class="nav-heading">Menu de Cursos</li>
      <li class="nav-item"> <a class="nav-link collapsed" routerLink="dashboard"> <i class="fa-solid fa-circle-arrow-left"></i> <span>Regresar</span> </a></li>
      <li class="nav-item"> <a class="nav-link collapsed" routerLink="curso/resumen"> <i class="fa-solid fa-box-archive"></i> <span>Resumen</span> </a></li>
      <li class="nav-item"> <a class="nav-link collapsed" routerLink="curso/actividades"> <i class="fa-solid fa-file-pen"></i> <span>Actividades</span> </a></li>
      <li class="nav-item"> <a class="nav-link collapsed" routerLink="curso/calificaciones"> <i class="fa-solid fa-graduation-cap"></i> <span>Calificaciones</span> </a></li>

    </div>

    <hr>


     <li class="nav-item"> <a class="nav-link collapsed" routerLink="/login"> <i class="fa-solid fa-book-open-reader"></i> <span>Salir</span> </a></li>
-->

