<main id="main" class="main">
  <div class="pagetitle">
     <h1>Papa Apellido</h1>
  </div>
  <section class="section dashboard">
    <div class="row">
      <div class="col-12">
        <div class="card">
           <div class="card-body">
            <div class="d-flex">
              <h5 class="card-title">Karins Apellido</h5>
            </div>
            <div class="tab-content pt-2" id="myTabjustifiedContent">
              <div class="activity">
                Aquí van las calificaciones generales de todos los cursos
            </div>
            </div>
           </div>
        </div>
      </div>
    </div>
  </section>
</main>





