<div class="row">
  <div class="col-12">
    <div class="card">
       <div class="card-body">
        <div class="d-flex">
          <h5 class="card-title">Lista de Grados por Jornada</h5>
        </div>
        <ul class="nav nav-tabs d-flex" id="myTabjustified" role="tablist">
          <li class="nav-item flex-fill" role="presentation"> <button class="nav-link w-100 active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home-justified" type="button" role="tab" aria-controls="home" aria-selected="true">Matutina</button></li>
          <li class="nav-item flex-fill" role="presentation"> <button class="nav-link w-100" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile-justified" type="button" role="tab" aria-controls="profile" aria-selected="false">Vespertina</button></li>
        </ul>
        <div class="tab-content pt-2" id="myTabjustifiedContent">
          <div class="tab-pane fade show active" id="home-justified" role="tabpanel" aria-labelledby="home-tab">
            <app-card-matutina-admin-grados-jornadas [niveles]="NivelesExport" [secciones]="SeccionesExport"></app-card-matutina-admin-grados-jornadas>
          </div>
          <div class="tab-pane fade" id="profile-justified" role="tabpanel" aria-labelledby="profile-tab">
            <app-card-vespertina-admin-grado-x-jornada [niveles]="NivelesExportVespertina" [secciones]="SeccionesExport"></app-card-vespertina-admin-grado-x-jornada>
          </div>
        </div>
       </div>
    </div>
  </div>
  </div>
