<li class="nav-item dropdown">
  <a class="nav-link nav-icon" href="#" data-bs-toggle="dropdown"> <i class="fa-solid fa-bell"></i>
    <span class="badge bg-primary badge-number">{{notificacionesNoVistas}}</span>
  </a>
  <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow notifications">
     <li class="dropdown-header"> Tienes {{notificacionesNoVistas}} notificaciones nuevas<a routerLink="notificaciones"><span class="badge rounded-pill bg-primary p-2 ms-2">Ver Todas</span></a></li>
    <ng-container *ngIf="notificacionesNoVistas!='0'">
      <li>
        <hr class="dropdown-divider">
     </li>
    </ng-container>
  </ul>
</li>
