     <li class="nav-item">
      <a class="nav-link " routerLink="dashboard"> <i class="fa-solid fa-gauge"></i> <span>Dashboard</span> </a>
     </li>
     <li class="nav-item">
      <a class="nav-link collapsed" routerLink="grados"><i class="fa-solid fa-puzzle-piece"></i><span>Grados</span> </a>
     </li>
     <li class="nav-item">
      <a class="nav-link collapsed" routerLink="usuarios"><i class="fa-solid fa-users"></i><span>Usuarios</span> </a>
     </li>
     <li class="nav-heading">Administrativo</li>
     <li class="nav-item">
      <a class="nav-link collapsed" routerLink="codigos"><i class="fa-solid fa-unlock-keyhole"></i><span>Códigos</span> </a>
     </li>
     <li class="nav-item">
      <a class="nav-link collapsed disabled" routerLink="estadistica"><i class="fa-solid fa-chart-simple"></i><span>Estadística</span> </a>
     </li>
     <li class="nav-item">
      <a class="nav-link collapsed disabled" routerLink="pagos"><i class="fa-solid fa-credit-card"></i><span>Pagos</span> </a>
     </li>
      <li class="nav-item">
      <a class="nav-link collapsed disabled" routerLink="tutorial"><i class="fa-solid fa-shoe-prints"></i><span>Tutorial</span> </a>
      </li>
     <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#config-nav" data-bs-toggle="collapse" href="#"> <i class="fa-solid fa-gear"></i><span>Configuraciones</span><i class="fa-solid fa-chevron-down ms-auto"></i> </a>
        <ul id="config-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
           <li> <a routerLink="settings/basic"> <i class="fa-solid fa-circle"></i><span> Básico</span> </a></li>
        </ul>
     </li>
      <li class="nav-item">
      <a class="nav-link collapsed disabled" routerLink="complementos" disabled><i class="fa-solid fa-puzzle-piece"></i><span>Complementos</span> </a>
     </li>
