     <li class="nav-item" *ngFor="let opciones of opcionesSidebarGet">
      <a class="nav-link collapsed" routerLink="{{opciones.ruta}}"><i class="{{opciones.icono}}"></i> <span>{{opciones.nombre_modulo}}</span> </a>
     </li>
     <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#config-nav" data-bs-toggle="collapse" href="#"> <i class="fa-solid fa-gear"></i><span>Configuraciones</span><i class="fa-solid fa-chevron-down ms-auto"></i> </a>
        <ul id="config-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
           <li> <a routerLink="settings/basic"> <i class="fa-solid fa-circle"></i><span> Básico</span> </a></li>
        </ul>
     </li>

