     <li class="nav-item">
      <a class="nav-link " routerLink="dashboard"> <i class="fa-solid fa-gauge"></i> <span>Dashboard</span> </a>
     </li>
     <li class="nav-item">
      <a class="nav-link collapsed" data-bs-target="#grados" data-bs-toggle="collapse" href="#"> <i class="fa-solid fa-puzzle-piece"></i><span>Grados</span><i class="fa-solid fa-chevron-down ms-auto"></i> </a>
      <ul id="grados" class="nav-content collapse " data-bs-parent="#sidebar-nav">
         <li> <a routerLink="/icons-boxicons"> <i class="fa-solid fa-circle"></i><span> Por Nivel</span> </a></li>
         <li> <a routerLink="/icons-boxicons"> <i class="fa-solid fa-circle"></i><span> Lista Completa</span> </a></li>
      </ul>
     </li>
     <li class="nav-item">
      <a class="nav-link collapsed" routerLink="dashboard"><i class="fa-solid fa-table-list"></i><span>Cursos</span> </a>
     </li>
     <li class="nav-item">
      <a class="nav-link collapsed" data-bs-target="#usersNav" data-bs-toggle="collapse" href="#"><i class="fa-solid fa-users"></i><span>Usuarios</span><i class="fa-solid fa-chevron-down ms-auto"></i> </a>
      <ul id="usersNav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
         <li> <a routerLink="settings/basic"> <i class="fa-solid fa-circle"></i><span> Docentes</span> </a></li>
         <li> <a routerLink="/icons-boxicons"> <i class="fa-solid fa-circle"></i><span> Alumnos</span> </a></li>
      </ul>
    </li>
     <li class="nav-heading">Administrativo</li>
     <li class="nav-item">
      <a class="nav-link collapsed" routerLink="codigos"><i class="fa-solid fa-unlock-keyhole"></i><span>Códigos</span> </a>
     </li>
     <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#config-nav" data-bs-toggle="collapse" href="#"> <i class="fa-solid fa-gear"></i><span>Configuraciones</span><i class="fa-solid fa-chevron-down ms-auto"></i> </a>
        <ul id="config-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
           <li> <a routerLink="settings/basic"> <i class="fa-solid fa-circle"></i><span> Básico</span> </a></li>
        </ul>
     </li>
     <li class="nav-item">
       <a class="nav-link collapsed" data-bs-target="#config-nav-complementos" data-bs-toggle="collapse" href="#"> <i class="fa-solid fa-puzzle-piece"></i><span>Complementos</span><i class="fa-solid fa-chevron-down ms-auto"></i> </a>
       <ul id="config-nav-complementos" class="nav-content collapse " data-bs-parent="#sidebar-nav">
          <li> <a routerLink="/icons-boxicons"> <i class="fa-solid fa-circle"></i><span> Instalados</span> </a></li>
          <li> <a routerLink="/icons-boxicons"> <i class="fa-solid fa-circle"></i><span> Disponibles</span> </a></li>
       </ul>
     </li>
