<header id="header" class="header fixed-top d-flex align-items-center">
  <div class="d-flex align-items-center justify-content-between"> <a routerLink="dashboard" class="logo d-flex align-items-center"> <img src="assets/img/logo49x52.png" alt=""> <span class="d-none d-lg-block">Administrador</span> </a> <i (click)="sidebarToggle()" class="fa-solid fa-bars toggle-sidebar-btn"></i></div>
  <nav class="header-nav ms-auto">
     <ul class="d-flex align-items-center">
      <app-teacher-notificaciones-menu></app-teacher-notificaciones-menu>
      <app-teacher-opciones-nav-perfil></app-teacher-opciones-nav-perfil>
     </ul>
  </nav>
</header>
