<main id="main" class="main">
  <div class="pagetitle">
     <h1>Tutor Papa Apellido</h1>
     <nav>
        <ol class="breadcrumb">
           <li class="breadcrumb-item"><a routerLink="/">Dashboard</a></li>
        </ol>
     </nav>
  </div>
  <section class="section dashboard">
     <div class="row">
        <div class="col-lg-8">
          <app-card-resumen></app-card-resumen>
          <app-card-clases></app-card-clases>
          <app-horario-tutor></app-horario-tutor>
        </div>
        <div class="col-lg-4">
          <!--- Aquí va lo de la segunda columna -->
          <div class="row">
            <app-all-calendario-tutor></app-all-calendario-tutor>
            <app-actividades-pendientes></app-actividades-pendientes>
            <app-companeros-estudiantes></app-companeros-estudiantes>
          </div>
        </div>
     </div>
  </section>
</main>

