<main id="main" class="main">
  <div class="pagetitle">
    <h1>Cuadro Guía</h1>
    <nav>
       <ol class="breadcrumb">
          <li class="breadcrumb-item"><a routerLink="/admin/">Home</a></li>
          <li class="breadcrumb-item active">Dashboard</li>
       </ol>
    </nav>
 </div>
 <section class="section dashboard">
  <hr>
    <div id="areaImprimir">
      <div class="logodiv" style="float:left;">
        <img src="../../../assets/img/consolidadoLogo/logo.jpg">
      </div>
      <div class="encabezadodiv"><br>
      </div>
      <label for="" style="margin-left:40px;font-family: sans-serif;">Grado: <u>{{GradoSeccion[0].nombre_grado+', Sección: '+GradoSeccion[0].seccion+', Nivel: '+GradoSeccion[0].nivel+', Jornada: '+GradoSeccion[0].jornada}}</u><h5 id='bimes' style='font-size:16px;'>Cuadro de Grado</h5></label><br><br><br>
      <div *ngIf="sppinerOn==true;else Mostrar1">
        <app-loaderpeque></app-loaderpeque>
        <h4 class="text-center">Cargando información, por favor espere...</h4>
      </div>
      <ng-template #Mostrar1>
      <table class="table">
        <thead>
          <th class="text-center">Alumno</th>
          <th *ngFor="let c of cursos" class="text-center">{{c.nombre_curso}}</th>
          <th class="text-center">Promedio</th>
        </thead>
        <tbody>
          <ng-container *ngIf="CantidadCursos==1">
            <tr *ngFor="let t of tabla">
              <td class="text-center">{{t.alumno}}</td>
              <td class="text-center">{{t.uno}}</td>
              <td class="text-center">{{(t.promedio)}}</td>
            </tr>
          </ng-container>

          <ng-container *ngIf="CantidadCursos==2">
            <tr *ngFor="let t of tabla">
              <td class="text-center">{{t.alumno}}</td>
              <td class="text-center">{{t.uno}}</td>
              <td class="text-center">{{t.dos}}</td>
              <td class="text-center">{{(t.promedio)}}</td>
            </tr>
          </ng-container>

          <ng-container *ngIf="CantidadCursos==3">
            <tr *ngFor="let t of tabla">
              <td class="text-center">{{t.alumno}}</td>
              <td class="text-center">{{t.uno}}</td>
              <td class="text-center">{{t.dos}}</td>
              <td class="text-center">{{t.tres}}</td>
              <td class="text-center">{{(t.promedio)}}</td>
            </tr>
          </ng-container>

          <ng-container *ngIf="CantidadCursos==4">
            <tr *ngFor="let t of tabla">
              <td class="text-center">{{t.alumno}}</td>
              <td class="text-center">{{t.uno}}</td>
              <td class="text-center">{{t.dos}}</td>
              <td class="text-center">{{t.tres}}</td>
              <td class="text-center">{{t.cuatro}}</td>
              <td class="text-center">{{(t.promedio)}}</td>
            </tr>
          </ng-container>

          <ng-container *ngIf="CantidadCursos==5">
            <tr *ngFor="let t of tabla">
              <td class="text-center">{{t.alumno}}</td>
              <td class="text-center">{{t.uno}}</td>
              <td class="text-center">{{t.dos}}</td>
              <td class="text-center">{{t.tres}}</td>
              <td class="text-center">{{t.cuatro}}</td>
              <td class="text-center">{{t.cinco}}</td>
              <td class="text-center">{{(t.promedio)}}</td>
            </tr>
          </ng-container>

          <ng-container *ngIf="CantidadCursos==6">
            <tr *ngFor="let t of tabla">
              <td class="text-center">{{t.alumno}}</td>
              <td class="text-center">{{t.uno}}</td>
              <td class="text-center">{{t.dos}}</td>
              <td class="text-center">{{t.tres}}</td>
              <td class="text-center">{{t.cuatro}}</td>
              <td class="text-center">{{t.cinco}}</td>
              <td class="text-center">{{t.seis}}</td>
              <td class="text-center">{{(t.promedio)}}</td>
            </tr>
          </ng-container>

          <ng-container *ngIf="CantidadCursos==7">
            <tr *ngFor="let t of tabla">
              <td class="text-center">{{t.alumno}}</td>
              <td class="text-center">{{t.uno}}</td>
              <td class="text-center">{{t.dos}}</td>
              <td class="text-center">{{t.tres}}</td>
              <td class="text-center">{{t.cuatro}}</td>
              <td class="text-center">{{t.cinco}}</td>
              <td class="text-center">{{t.seis}}</td>
              <td class="text-center">{{t.siete}}</td>
              <td class="text-center">{{(t.promedio)}}</td>
            </tr>
          </ng-container>

          <ng-container *ngIf="CantidadCursos==8">
            <tr *ngFor="let t of tabla">
              <td class="text-center">{{t.alumno}}</td>
              <td class="text-center">{{t.uno}}</td>
              <td class="text-center">{{t.dos}}</td>
              <td class="text-center">{{t.tres}}</td>
              <td class="text-center">{{t.cuatro}}</td>
              <td class="text-center">{{t.cinco}}</td>
              <td class="text-center">{{t.seis}}</td>
              <td class="text-center">{{t.siete}}</td>
              <td class="text-center">{{t.ocho}}</td>
              <td class="text-center">{{(t.promedio)}}</td>
            </tr>
          </ng-container>

          <ng-container *ngIf="CantidadCursos==9">
            <tr *ngFor="let t of tabla">
              <td class="text-center">{{t.alumno}}</td>
              <td class="text-center">{{t.uno}}</td>
              <td class="text-center">{{t.dos}}</td>
              <td class="text-center">{{t.tres}}</td>
              <td class="text-center">{{t.cuatro}}</td>
              <td class="text-center">{{t.cinco}}</td>
              <td class="text-center">{{t.seis}}</td>
              <td class="text-center">{{t.siete}}</td>
              <td class="text-center">{{t.ocho}}</td>
              <td class="text-center">{{t.nueve}}</td>
              <td class="text-center">{{(t.promedio)}}</td>
            </tr>
          </ng-container>

          <ng-container *ngIf="CantidadCursos==10">
            <tr *ngFor="let t of tabla">
              <td class="text-center">{{t.alumno}}</td>
              <td class="text-center">{{t.uno}}</td>
              <td class="text-center">{{t.dos}}</td>
              <td class="text-center">{{t.tres}}</td>
              <td class="text-center">{{t.cuatro}}</td>
              <td class="text-center">{{t.cinco}}</td>
              <td class="text-center">{{t.seis}}</td>
              <td class="text-center">{{t.siete}}</td>
              <td class="text-center">{{t.ocho}}</td>
              <td class="text-center">{{t.nueve}}</td>
              <td class="text-center">{{t.diez}}</td>
              <td class="text-center">{{(t.promedio)}}</td>
            </tr>
          </ng-container>

          <ng-container *ngIf="CantidadCursos==11">
            <tr *ngFor="let t of tabla">
              <td class="text-center">{{t.alumno}}</td>
              <td class="text-center">{{t.uno}}</td>
              <td class="text-center">{{t.dos}}</td>
              <td class="text-center">{{t.tres}}</td>
              <td class="text-center">{{t.cuatro}}</td>
              <td class="text-center">{{t.cinco}}</td>
              <td class="text-center">{{t.seis}}</td>
              <td class="text-center">{{t.siete}}</td>
              <td class="text-center">{{t.ocho}}</td>
              <td class="text-center">{{t.nueve}}</td>
              <td class="text-center">{{t.diez}}</td>
              <td class="text-center">{{t.once}}</td>
              <td class="text-center">{{(t.promedio)}}</td>
            </tr>
          </ng-container>

          <ng-container *ngIf="CantidadCursos==12">
            <tr *ngFor="let t of tabla">
              <td class="text-center">{{t.alumno}}</td>
              <td class="text-center">{{t.uno}}</td>
              <td class="text-center">{{t.dos}}</td>
              <td class="text-center">{{t.tres}}</td>
              <td class="text-center">{{t.cuatro}}</td>
              <td class="text-center">{{t.cinco}}</td>
              <td class="text-center">{{t.seis}}</td>
              <td class="text-center">{{t.siete}}</td>
              <td class="text-center">{{t.ocho}}</td>
              <td class="text-center">{{t.nueve}}</td>
              <td class="text-center">{{t.diez}}</td>
              <td class="text-center">{{t.once}}</td>
              <td class="text-center">{{t.doce}}</td>
              <td class="text-center">{{(t.promedio)}}</td>
            </tr>
          </ng-container>

          <ng-container *ngIf="CantidadCursos==13">
            <tr *ngFor="let t of tabla">
              <td class="text-center">{{t.alumno}}</td>
              <td class="text-center">{{t.uno}}</td>
              <td class="text-center">{{t.dos}}</td>
              <td class="text-center">{{t.tres}}</td>
              <td class="text-center">{{t.cuatro}}</td>
              <td class="text-center">{{t.cinco}}</td>
              <td class="text-center">{{t.seis}}</td>
              <td class="text-center">{{t.siete}}</td>
              <td class="text-center">{{t.ocho}}</td>
              <td class="text-center">{{t.nueve}}</td>
              <td class="text-center">{{t.diez}}</td>
              <td class="text-center">{{t.once}}</td>
              <td class="text-center">{{t.doce}}</td>
              <td class="text-center">{{t.trece}}</td>
              <td class="text-center">{{(t.promedio)}}</td>
            </tr>
          </ng-container>

          <ng-container *ngIf="CantidadCursos==14">
            <tr *ngFor="let t of tabla">
              <td class="text-center">{{t.alumno}}</td>
              <td class="text-center">{{t.uno}}</td>
              <td class="text-center">{{t.dos}}</td>
              <td class="text-center">{{t.tres}}</td>
              <td class="text-center">{{t.cuatro}}</td>
              <td class="text-center">{{t.cinco}}</td>
              <td class="text-center">{{t.seis}}</td>
              <td class="text-center">{{t.siete}}</td>
              <td class="text-center">{{t.ocho}}</td>
              <td class="text-center">{{t.nueve}}</td>
              <td class="text-center">{{t.diez}}</td>
              <td class="text-center">{{t.once}}</td>
              <td class="text-center">{{t.doce}}</td>
              <td class="text-center">{{t.trece}}</td>
              <td class="text-center">{{t.catorce}}</td>
              <td class="text-center">{{(t.promedio)}}</td>
            </tr>
          </ng-container>

          <ng-container *ngIf="CantidadCursos==15">
            <tr *ngFor="let t of tabla">
              <td class="text-center">{{t.alumno}}</td>
              <td class="text-center">{{t.uno}}</td>
              <td class="text-center">{{t.dos}}</td>
              <td class="text-center">{{t.tres}}</td>
              <td class="text-center">{{t.cuatro}}</td>
              <td class="text-center">{{t.cinco}}</td>
              <td class="text-center">{{t.seis}}</td>
              <td class="text-center">{{t.siete}}</td>
              <td class="text-center">{{t.ocho}}</td>
              <td class="text-center">{{t.nueve}}</td>
              <td class="text-center">{{t.diez}}</td>
              <td class="text-center">{{t.once}}</td>
              <td class="text-center">{{t.doce}}</td>
              <td class="text-center">{{t.trece}}</td>
              <td class="text-center">{{t.catorce}}</td>
              <td class="text-center">{{t.quince}}</td>
              <td class="text-center">{{(t.promedio)}}</td>
            </tr>
          </ng-container>

          <ng-container *ngIf="CantidadCursos==16">
            <tr *ngFor="let t of tabla">
              <td class="text-center">{{t.alumno}}</td>
              <td class="text-center">{{t.uno}}</td>
              <td class="text-center">{{t.dos}}</td>
              <td class="text-center">{{t.tres}}</td>
              <td class="text-center">{{t.cuatro}}</td>
              <td class="text-center">{{t.cinco}}</td>
              <td class="text-center">{{t.seis}}</td>
              <td class="text-center">{{t.siete}}</td>
              <td class="text-center">{{t.ocho}}</td>
              <td class="text-center">{{t.nueve}}</td>
              <td class="text-center">{{t.diez}}</td>
              <td class="text-center">{{t.once}}</td>
              <td class="text-center">{{t.doce}}</td>
              <td class="text-center">{{t.trece}}</td>
              <td class="text-center">{{t.catorce}}</td>
              <td class="text-center">{{t.quince}}</td>
              <td class="text-center">{{t.dieciseis}}</td>
              <td class="text-center">{{(t.promedio)}}</td>
            </tr>
          </ng-container>

          <ng-container *ngIf="CantidadCursos==17">
            <tr *ngFor="let t of tabla">
              <td class="text-center">{{t.alumno}}</td>
              <td class="text-center">{{t.uno}}</td>
              <td class="text-center">{{t.dos}}</td>
              <td class="text-center">{{t.tres}}</td>
              <td class="text-center">{{t.cuatro}}</td>
              <td class="text-center">{{t.cinco}}</td>
              <td class="text-center">{{t.seis}}</td>
              <td class="text-center">{{t.siete}}</td>
              <td class="text-center">{{t.ocho}}</td>
              <td class="text-center">{{t.nueve}}</td>
              <td class="text-center">{{t.diez}}</td>
              <td class="text-center">{{t.once}}</td>
              <td class="text-center">{{t.doce}}</td>
              <td class="text-center">{{t.trece}}</td>
              <td class="text-center">{{t.catorce}}</td>
              <td class="text-center">{{t.quince}}</td>
              <td class="text-center">{{t.dieciseis}}</td>
              <td class="text-center">{{t.diecisiete}}</td>
              <td class="text-center">{{(t.promedio)}}</td>
            </tr>
          </ng-container>

          <ng-container *ngIf="CantidadCursos==18">
            <tr *ngFor="let t of tabla">
              <td class="text-center">{{t.alumno}}</td>
              <td class="text-center">{{t.uno}}</td>
              <td class="text-center">{{t.dos}}</td>
              <td class="text-center">{{t.tres}}</td>
              <td class="text-center">{{t.cuatro}}</td>
              <td class="text-center">{{t.cinco}}</td>
              <td class="text-center">{{t.seis}}</td>
              <td class="text-center">{{t.siete}}</td>
              <td class="text-center">{{t.ocho}}</td>
              <td class="text-center">{{t.nueve}}</td>
              <td class="text-center">{{t.diez}}</td>
              <td class="text-center">{{t.once}}</td>
              <td class="text-center">{{t.doce}}</td>
              <td class="text-center">{{t.trece}}</td>
              <td class="text-center">{{t.catorce}}</td>
              <td class="text-center">{{t.quince}}</td>
              <td class="text-center">{{t.dieciseis}}</td>
              <td class="text-center">{{t.diecisiete}}</td>
              <td class="text-center">{{t.dieciocho}}</td>
              <td class="text-center">{{(t.promedio)}}</td>
            </tr>
          </ng-container>

          <ng-container *ngIf="CantidadCursos==19">
            <tr *ngFor="let t of tabla">
              <td class="text-center">{{t.alumno}}</td>
              <td class="text-center">{{t.uno}}</td>
              <td class="text-center">{{t.dos}}</td>
              <td class="text-center">{{t.tres}}</td>
              <td class="text-center">{{t.cuatro}}</td>
              <td class="text-center">{{t.cinco}}</td>
              <td class="text-center">{{t.seis}}</td>
              <td class="text-center">{{t.siete}}</td>
              <td class="text-center">{{t.ocho}}</td>
              <td class="text-center">{{t.nueve}}</td>
              <td class="text-center">{{t.diez}}</td>
              <td class="text-center">{{t.once}}</td>
              <td class="text-center">{{t.doce}}</td>
              <td class="text-center">{{t.trece}}</td>
              <td class="text-center">{{t.catorce}}</td>
              <td class="text-center">{{t.quince}}</td>
              <td class="text-center">{{t.dieciseis}}</td>
              <td class="text-center">{{t.diecisiete}}</td>
              <td class="text-center">{{t.dieciocho}}</td>
              <td class="text-center">{{t.diecinueve}}</td>
              <td class="text-center">{{(t.promedio)}}</td>
            </tr>
          </ng-container>

          <ng-container *ngIf="CantidadCursos==20">
            <tr *ngFor="let t of tabla">
              <td class="text-center">{{t.alumno}}</td>
              <td class="text-center">{{t.uno}}</td>
              <td class="text-center">{{t.dos}}</td>
              <td class="text-center">{{t.tres}}</td>
              <td class="text-center">{{t.cuatro}}</td>
              <td class="text-center">{{t.cinco}}</td>
              <td class="text-center">{{t.seis}}</td>
              <td class="text-center">{{t.siete}}</td>
              <td class="text-center">{{t.ocho}}</td>
              <td class="text-center">{{t.nueve}}</td>
              <td class="text-center">{{t.diez}}</td>
              <td class="text-center">{{t.once}}</td>
              <td class="text-center">{{t.doce}}</td>
              <td class="text-center">{{t.trece}}</td>
              <td class="text-center">{{t.catorce}}</td>
              <td class="text-center">{{t.quince}}</td>
              <td class="text-center">{{t.dieciseis}}</td>
              <td class="text-center">{{t.diecisiete}}</td>
              <td class="text-center">{{t.dieciocho}}</td>
              <td class="text-center">{{t.diecinueve}}</td>
              <td class="text-center">{{t.veinte}}</td>
              <td class="text-center">{{(t.promedio)}}</td>
            </tr>
          </ng-container>

        </tbody>
      </table>
      </ng-template>
      <div class="text-center">
        <br><br><br>
         <input class="text-center" type="text" value="Dirección" style="color:#000;border-top:1px solid;border-bottom:none;border-left:none;border-right:none;background:white; margin-left:20px; width:230px;" disabled>

         <input type="text" style="border:none;background:white; margin-left:20px;" disabled>

         <input class="text-center" type="text" value="Comisi&oacute;n de Evaluaci&oacute;n" style="color:#000;width:230px;border-top:1px solid;border-bottom:none;border-left:none;border-right:none;background:white" disabled><br><br><br><br>
     </div>
    </div>
    <div class="text-center" id="NoPrint">
      <button class="btn btn-primary" (click)="PrintThis()"><i class="fas fa-print" style='width:40px; height:20px'></i></button>
    </div>
    <br>
    <br><br>
    </section>
</main>

