<div class="row">

  <div class="col-xxl-6 col-md-12">
    <div class="card info-card revenue-card">
       <div class="card-body">
          <h5 class="card-title">Alumnos</h5>
          <div class="d-flex align-items-center">
             <div class="card-icon rounded-circle d-flex align-items-center justify-content-center"><i class="fa-solid fa-person-chalkboard"></i></div>
             <div class="ps-3">
              <div *ngIf="sppinerOn==true;else Mostrar1">
                <app-loaderchiqui></app-loaderchiqui>
              </div>
              <!--Dentro del loader-->
              <ng-template #Mostrar1>
              <h6> {{cantidad_alumnos.length}} </h6>
              </ng-template>
              <tr>
              </tr>
             </div>
          </div>
       </div>
    </div>
  </div>


  <div class="col-xxl-6 col-md-12">
    <div class="card info-card customers-card">
       <div class="card-body">
          <h5 class="card-title">Actividades</h5>
          <div class="d-flex align-items-center">
             <div class="card-icon rounded-circle d-flex align-items-center justify-content-center"><i class="fa-solid fa-users-between-lines"></i></div>
             <div class="ps-3">
              <div *ngIf="sppinerOn==true;else Mostrar2">
                <app-loaderchiqui></app-loaderchiqui>
              </div>
              <!--Dentro del loader-->
              <ng-template #Mostrar2>
              <h6>{{cantidad_tareas.length}}</h6>
              </ng-template>
             </div>
          </div>
       </div>
    </div>
  </div>
</div>

