<div class="row">
  <div class="col-xxl-4 col-md-6">
    <div class="card info-card sales-card">
       <div class="card-body">
          <h5 class="card-title">Imagen del curso</h5>
       </div>
    </div>
  </div>

  <div class="col-xxl-8 col-md-6">
    <div class="card info-card revenue-card">
       <div class="card-body">
        <h5 class="card-title mb-1">Primero Básico <span>| Sección A</span> </h5>
        <h5 class="card-title mb-1">Plan Diario <span>| Jornada Matutina</span> </h5>
       </div>
    </div>
  </div>
</div>
